<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered">
            <a href="profile.html">
                <i class="fa fa-user fa-5x" aria-hidden="true" style="color: white;"></i>
            </a>
        </p>
        <h5 class="centered">
            <%= token.login %>
        </h5>

        <li class="mt">
            <a class="active" href="/auth/WEB/index">
                <i class="fa fa-dashboard"></i>
                <span>
                    <%- trans('MENU_DASHBOARD') %>
                </span>
            </a>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class=" fa fa-map-marker"></i>
                <span>
                    <%- trans('MENU_MAPS') %>
                </span>
            </a>
            <ul class="sub">
                <li>
                    <a href="/auth/WEB/maps/list_info">
                        <%- trans('MENU_MAPS_GMAPS') %>
                    </a>
                </li>
                <li>
                    <a href="/auth/WEB/road/total_traveled">
                        <%- trans('MENU_MAPS_TAVEL') %>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="/auth/WEB/data_sheet/list_info" class="dcjq-parent">
                <i class="fas fa-info-circle"></i>
                <span>
                    <%- trans('MENU_DATASHEET') %>
                </span>
            </a>

        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="/auth/WEB/query/consultas" class="dcjq-parent">
                <i class=" fa fa-table"></i>
                <span>
                    <%- trans('MENU_QUERYS') %>
                </span>
            </a>

        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="/auth/WEB/budget/indexes" class="dcjq-parent">
                <i class=" fa fa-usd"></i>
                <span>
                    <%- trans('MENU_BUDGET') %>
                </span>
            </a>

        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="/auth/WEB/report/pdfmake" class="dcjq-parent">
                <i class=" fa fa-file-text-o"></i>
                <span>
                    <%- trans('MENU_REPORTS') %>
                </span>
            </a>

        </li>
        <!--
            ADMIN MENU
        -->
        <% if (token.admin) { %>
            <li class="sub-menu dcjq-parent-li">
                <a href="javascript:;" class="dcjq-parent">
                    <i class=" fa fa-cogs"></i>
                    <span>
                        <%- trans('MENU_CP') %>
                    </span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/users/list_users">
                            <span class=" fa fa-user">
                                <%- trans('MENU_CP_USERS') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/gis/upload">
                            <span class=" fa fa-upload">
                                <%- trans('MENU_CP_UPFILE') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/admin/formulas">
                            <span class=" fa fa-wrench ">
                                <%- trans('MENU_CP_FORM') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/maps/view_data">
                            <span class=" fa fa-road ">
                                Edit Tracks
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/budget/costs">
                            <span class=" fa fa-money ">
                                <%- trans('MENU_COST') %>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <% } %>
                <!-- <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>UI Elements</span>
            </a>
            <ul class="sub">
                <li><a href="general.html">General</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="panels.html">Panels</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span>Components</span>
            </a>
            <ul class="sub">
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="todo_list.html">Todo List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Extra Pages</span>
            </a>
            <ul class="sub">
                <li><a href="blank.html">Blank Page</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="lock_screen.html">Lock Screen</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Forms</span>
            </a>
            <ul class="sub">
                <li><a href="form_component.html">Form Components</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
            </a>
            <ul class="sub">
                <li><a href="basic_table.html">Basic Table</a></li>
                <li><a href="responsive_table.html">Responsive Table</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class=" fa fa-bar-chart-o"></i>
                <span>Charts</span>
            </a>
            <ul class="sub">
                <li><a href="morris.html">Morris</a></li>
                <li><a href="chartjs.html">Chartjs</a></li>
            </ul>
        </li> -->

    </ul>
    <!-- sidebar menu end-->
</div>