<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered sidebar-main-logo">
            <img src="/assets/img/logo-dominica.png" alt="Dominica" />
        </p>

        <!-- <li class="mt">
            <a href="/auth/WEB/index">
                <i class="fa fa-dashboard"></i>
                <span>
                    <%- trans('MENU_DASHBOARD') %>
                </span>
            </a>
        </li> -->
        <li>
            <a href="/auth/WEB/maps/list_info">
                <i class="fas fa-map-marker"></i>
                <span>
                    <%- trans('MENU_MAPS_GMAPS') %>
                </span>
            </a>

        </li>

        <li>
            <a href="/auth/WEB/data_sheet/list_info">
                <i class="fas fa-info-circle"></i>
                <span>
                    <%- trans('MENU_DATASHEET') %>
                </span>
            </a>

        </li>
        <li class="sub-menu">
            <a href="/auth/WEB/maps/view_data">
                <i class="fas fa-database"></i>
                <span>
                    <%- trans('MENU_DATABASE') %>
                </span>
            </a>

        </li>
        <li>
            <a href="/auth/WEB/query/consultas">
                <i class=" fa fa-table"></i>
                <span>
                    <%- trans('MENU_QUERYS') %>
                </span>
            </a>

        </li>

        <li>
            <a href="/auth/WEB/budget/indexes/1">
                <i class=" fa fa-usd"></i>
                <span>
                    <%- trans('MENU_BUDGET') %>
                </span>
            </a>

        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>
                    <%- trans('MENU_SCHEDULE') %>
                </span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub" style="display: block;">
                <li>
                    <a href="/auth/WEB/schedule/index/PHY">Physicals</a>
                </li>
                <li>
                    <a href="/auth/WEB/schedule/index/NAT">Naturals</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/auth/WEB/report/pdfmake">
                <i class=" fa fa-file-text-o"></i>
                <span>
                    <%- trans('MENU_REPORTS') %>
                </span>
            </a>

        </li>
        <!--
            ADMIN MENU
        -->
        <% if (token.admin) { %>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class=" fa fa-cogs"></i>
                    <span>
                        <%- trans('MENU_CP') %>
                    </span>
                    <span class="dcjq-icon"></span>

                </a>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/users/list_users">
                            <i class=" fa fa-users"></i>
                            <span>
                                <%- trans('MENU_CP_USERS') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/gis/upload">
                            <i class=" fa fa-upload"></i>
                            <span>
                                <%- trans('MENU_CP_UPFILE') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/admin/formulas">
                            <i class=" fa fa-wrench"></i>
                            <span>
                                <%- trans('MENU_CP_FORM') %>
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/maps/view_data">
                            <i class=" fa fa-road"></i>
                            <span>
                                Edit Tracks
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="sub">
                    <li>
                        <a href="/auth/WEB/budget/costs">
                            <i class=" fa fa-money"></i>
                            <span>
                                <%- trans('MENU_COST') %>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <% } %>
                <p class="centered sidebar-secondary-logo">
                    <img src="/assets/img/logo-banco-mundial.png" alt="The World Bank" />
                </p>

    </ul>
    <!-- sidebar menu end-->
</div>