<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>
        <%= title %> -
            <%= cname %>
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <!-- <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" /> -->

    <!-- Custom styles for this template -->
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">

    <!-- Flags -->
    <!-- <link href="assets/css/flags.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/flags.min.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

    <div id="login-page">
        <div class="container">

            <form id="loginform" class="form-login" action="/login" method="post">
                <h1 class="form-login-heading">
                    Risk-based Road Asset Management System
                </h1>
                <h2 class="form-login-heading">

                    <%=trans('LOGIN')%>
                </h2>
                <div class="login-wrap">

                    <input type="text" class="form-control" placeholder="<%= trans('USER_ID') %>" name="user_login" autofocus required>
                    <br>
                    <input type="password" class="form-control" placeholder="<%= trans('PASSWD') %>" name="user_passwd" required>
                    <label class="checkbox">
                        <span class="pull-right">
                            <!-- <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a> -->

                        </span>
                    </label>
                    <button id="loginbutton" class="btn btn-theme03 btn-block" type="submit">
                        <i class="fa fa-lock"></i>
                        <%= trans('SIGN_IN') %>
                    </button>

                    <% if (message) { %>
                        <h3 class="error">
                            <%= message %>
                        </h3>
                        <% } %>
                            <hr>
                            <div class="login-social-link centered">
                                <%= trans('CHANGE_LANG') %>
                                    <ul>
                                        <li>
                                            <a class="es active" href="/?clang=es">
                                                <img class="flag flag-es " alt="" />
                                                <%= trans('FLAG_ES') %>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="en active" href="/?clang=en">
                                                <img class="flag flag-gb" alt="" />
                                                <%= trans('FLAG_GB') %>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="form-login-footer">
                                <p>Developed by
                                    <a href="https://ines.es/">INES Ingenieros Consultores</a>
                                </p>
                            </div>

                </div>



            </form>

        </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/login-bg.png", {
            speed: 500
        });
        $(document).ready(function () {

            $('#loginform').submit(function (e) {
                e.preventDefault();
                $('#loginbutton').prop('disabled', true);
                this.submit();

            });

        });
    </script>


</body>

</html>