<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            
            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            
            #info-box {
                background-color: white;
                border: 1px solid black;
                bottom: 30px;
                height: 30px;
                padding: 5px;
                position: absolute;
                left: 30px;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i>
                    <%- trans('MENU_MAPS_GMAPS') %>
                </h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-2">
                        <div class="form-panel">
                            <h5 class="mb"><i class="fa fa-angle-right"></i>
                                <%- trans('GMAPS_CAPAS') %>
                            </h5>
                            <select multiple id="layergps" class="form-control" size="<% if(roads.length < 6) { %>5<%} else{%>10<%}%>">
                                    <option value="ROADS" >INFO DATA ROAD</option>
                                    <option value="ODT" >ODT</option>
                                    <option value="BRIDGE" >BRIDGE</option>
                                    <option value="GEOT" >GEOTECHNICAL</option>
                            </select>
                        </div>
                        <div class="form-panel">
                            <h5 class="mb"><i class="fa fa-angle-right"></i>
                                <%- trans('GMAPS_DATOS') %>
                            </h5>
                            <a href="/auth/WEB/maps/view_data"><button type="button" class="btn btn-theme04"><i class="fa  fa-road"></i> <%- trans('GMAPS_DATOS_BUTTON_ROADS') %></button></a>
                        </div>
                    </div>
                    <div class="col-md-10" style="height:80vh;">
                        <div id="map"></div>
                        <div id="info-box">--</div>


                        <!-- <iframe allowfullscreen width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJFVoV8vrSFIwRPP06BQmRs0k&key=<%= api_key %>&maptype=satellite" allowfullscreen> -->
                        <!-- </iframe> -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <% include partials/footer_scripts %>
        <!-- js placed at the end of the document so the pages load faster -->
        <!-- <script src="/assets/js/jquery.js"></script> -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <!--common script for all pages-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/assets/js/common-scripts.js"></script>

        <!--script for this page-->

        <% include partials/gmaps_functions %>

</body>

</html>