<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <!-- <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */

            #map {
                height: 100%;
            }

            /* Optional: Makes the sample page fill the window. */

            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #info-box {
                background-color: white;
                border: 1px solid black;
                bottom: 30px;
                height: 30px;
                padding: 5px;
                position: absolute;
                left: 30px;
            }
        </style> -->
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt">
                    <div class="col-md-10">
                        <h3>
                            <i class="fa fa-angle-right"></i>
                            <%- trans('MENU_DATASHEET') %>
                        </h3>
                    </div>
                    <div class="col-md-2" style="display: none;">
                        <select class="form-control">
                            <option>-
                                <%- trans('GMAPS_LAYERS') %> -</option>
                            <option>Open Street Maps</option>
                            <option>Parrishes boundaries</option>
                            <option>Flashflood Susceptibility</option>
                            <option>Landslide Susceptibility</option>
                            <option>Hurricane Shelters</option>
                            <option>Health Centers</option>
                            <option>Airports</option>
                            <option>Ferry Ports</option>
                            <option>Tourist Attractions</option>
                        </select>
                    </div>
                </div>
                <!-- page start-->

                <div class="row mt">
                    <div class="col-md-2">
                        <div class="form-panel">
                            <h5 class="mb">
                                <i class="fa fa-angle-right"></i>
                                <%- trans('DSHEET_SEARCH_TOOL') %>
                            </h5>
                            <input id="searchtool" type="text" list="json-datalist" class="form-control round-form" placeholder="Enter road/asset code">
                            <datalist id="json-datalist"></datalist>
                            <div id="error" class="alert alert-danger" role="alert" style="display:none;"></div>
                            <div id="response" class="alert alert-success" role="alert" style="display:none;"></div>

                        </div>
                        <div id="datainfo" class="form-panel" style="display:none;">
                            <h5 class="mb">
                                <i class="fa fa-angle-right"></i>
                                <%- trans('DSHEET_DATA_INFO') %>
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input id="generaldata" type="checkbox" value="General Data">General Data</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="inventorydata" type="checkbox" value="Inventory Data">Inventory Data</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="operation" type="checkbox" value="Operation and Maintenance Data">Operation and Maintenance Data</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="risk" type="checkbox" value="Indexes and risk analysis">Indexes and risk analysis</label>
                            </div>

                        </div>
                        <div id="dataupload" class="form-panel" style="display:none;">
                            <h5 class="mb">
                                <i class="fa fa-angle-right"></i>
                                <%- trans('DSHEET_DATA_UPLOAD') %>
                            </h5>
                            <div class="checkbox">
                                <label>
                                    <input id="generaldataupload" type="checkbox" value="General Data">File Upload</label>
                            </div>
                        </div>
                        <div id="datainfophoto" class="form-panel" style="display:none;">


                        </div>



                    </div>

                    <div class="col-md-10">
                        <div id="rowmap" class="row">

                            <div id="divmap2" class="col-md-12" style="height: 80vh;">
                                <div id="spinner" class="spinner">
                                    <img id="img-spinner" src="/assets/img/gifs/ajax-loader.gif" alt="Loading" />
                                </div>
                                <div id="map" style="width:100%; height:100%;"></div>
                                <div id="info-box">--</div>
                            </div>
                        </div>


                        <!-- <iframe allowfullscreen width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJFVoV8vrSFIwRPP06BQmRs0k&key=<%= api_key %>&maptype=satellite" allowfullscreen> -->
                        <!-- </iframe> -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <% include partials/footer_scripts %>
        <!-- js placed at the end of the document so the pages load faster -->

        <!--common script for all pages-->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
            crossorigin="anonymous"></script>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

        <script src="/assets/js/moment-with-locales.min.js"></script>
        <!--script for this page-->
        <% include partials/gmaps_functions %>
            <% include ./partials/dsheet_scripts_tables %>
                <% include ./partials/dsheet_scripts %>
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%- api_key %>&callback=initMap">
                    </script>

</body>

</html>