<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/head %>
        <style>
            th,
            td {
                /*use this property to disbale soft wrap*/
                white-space: nowrap;
                /*To make extra certain,add this css property*/
                word-break: keep-all;
                background-color: white;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Edit Road</h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-12" style="height:80vh;">
                        <div class="content-panel">
                            <div class="form-panel">
                                <form id="form" class="form-horizontal style-form" method="post" action="/auth/WEB/infodatatrack/update_infodatatrack">

                                    <div class="form-group">
                                        <input type="hidden" name="infodatatrack[_id]" value="<%- infodatatrack._id %>">
                                        <label class="col-xs-2 control-label">ROAD:</label>
                                        <div class="col-xs-6">
                                            <input name="infodatatrack[properties][name]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.name %>" required>
                                            <input name="infodatatrack[properties][video_roads]" type="hidden" class="form-control round-form input-sm" value="<%- infodatatrack.properties.video_roads %>" required>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Modificar</button>
                                            <button onclick="window.location='/auth/WEB/maps/view_data';" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                        <br>
                                        <div class="col-xs-4">
                                            <b>Actualizado:</b>
                                            <%- moment(infodatatrack.updated_at).format('DD/MM/YYYY HH:mm:ss') %>
                                        </div>
                                        <div class="col-xs-4">
                                            <button id="showall" type="button" class="btn btn-round btn-success"><i class="fa fa-eye"></i> SHOW ALL COLUMNS</button>

                                        </div>
                                    </div>

                                    <div id="accordion">
                                        <div class="table-responsive">


                                            <table id="dataTable" class="table table-bordered table-xs">
                                                <thead>
                                                    <tr>
                                                        <th title="ID">#</th>
                                                        <th title="Selection"> Sel </th>
                                                        <th title="Inventary">INV</th>

                                                        <!-- ROAD DATA -->

                                                        <th id="infodatatrack[properties][coordTimes]" title="Date Time"> TIME </th>
                                                        <th id="infodatatrack[geometry][coordinates]" title="GPS - POS: Long - Lat - Cota">GPS </th>
                                                        <th id="infodatatrack[properties][pk]" title="PK" class="road"> PK </th>
                                                        <th id="infodatatrack[properties][road_category]" title="Road Category" class="road"> RC</th>
                                                        <th id="infodatatrack[properties][Roadlab]" title="IRI" class="road"> IRI </th>
                                                        <th id="infodatatrack[properties][date_construction]" title="Date of construction" class="road">DC</th>
                                                        <th id="infodatatrack[properties][alternative_itinerary]" title="Existence of Alternative Itinerary" class="road">EAI</th>
                                                        <th id="infodatatrack[properties][open_traffic]" title="Open to traffic?" class="road">OPEN</th>
                                                        <th id="infodatatrack[properties][existence_gauging_stations]" title="Existence of Gauging Stations" class="road">GS</th>
                                                        <th id="infodatatrack[properties][adt]" title="ADT" class="road">ADT</th>
                                                        <th id="infodatatrack[properties][traffic_high_peak]" title="Traffic high peak" class="road"> THP</th>
                                                        <th id="infodatatrack[properties][pavement_material]" title="pavement material" class="road"> PM</th>
                                                        <th id="infodatatrack[properties][base_material]" title="base material" class="road"> BM</th>
                                                        <th id="infodatatrack[properties][subbase_material]" title="subbase material" class="road"> SM</th>
                                                        <th id="infodatatrack[properties][number_lanes_inc]" title="Number of lanes (increasing KP)" class="road"> NOL INC</th>
                                                        <th id="infodatatrack[properties][number_lanes_dec]" title="Number of lanes (decreasing KP)" class="road"> NOL DEC</th>
                                                        <th id="infodatatrack[properties][total_number_lanes]" title="Total number of lanes" class="road"> TOT NOL</th>
                                                        <th id="infodatatrack[properties][total_width]" title="Total width (m)" class="road"> TOT WIDTH</th>
                                                        <th id="infodatatrack[properties][location_doc_road_projects]" title="Location of the documentation of road projects" class="road"> LOC DOC RP</th>
                                                        <th id="infodatatrack[properties][last_inspection]" title="Date of last inspection" class="road"> DLI</th>
                                                        <th id="infodatatrack[properties][prev_condition]" title="Previous condition rate" class="road"> PCR</th>
                                                        <th id="infodatatrack[properties][failure_history]" title="Failure history" class="road"> FH</th>
                                                        <th id="infodatatrack[properties][cons_LOS]" title="Consequences of failure on LOS" class="road"> CF LOS</th>
                                                        <th id="infodatatrack[properties][survey_freq]" title="Survey frequency" class="road"> SF</th>
                                                        <th id="infodatatrack[properties][next_survey]" title="Date of Next survey" class="road"> DNS</th>
                                                        <th id="infodatatrack[properties][past_interv]" title="Has there been past interventions?" class="road"> PINT</th>
                                                        <th id="infodatatrack[properties][interv_extent]" title="Have they been global or partial interventions?" class="road"> GPI</th>
                                                        <th id="infodatatrack[properties][year_interv]" title="Year of performance of past interventions" class="road"> YPI</th>
                                                        <th id="infodatatrack[properties][scope_interv]" title="Scope of past interventions" class="road"> SI</th>
                                                        <th id="infodatatrack[properties][impact_interv]" title="Impact on condition of past interventions" class="road"> II</th>
                                                        <th id="infodatatrack[properties][loc_doc_interv]" title="Location of the documentation of past interventions" class="road"> LDI</th>
                                                        <th id="infodatatrack[properties][maint_issues]" title="Maintainability issues" class="road"> MI</th>
                                                        <th id="infodatatrack[properties][investment10years]" title="Investment undertaken in the last 10 years" class="road"> I10Y</th>
                                                        <th id="infodatatrack[properties][investment_required]" title="Investment required to upgrade to A class" class="road"> IR</th>
                                                        <th id="infodatatrack[properties][om_comments]" title="Comments to Operation and Maintainance" class="road"> OM COM</th>
                                                        <th id="infodatatrack[properties][acess_airports_ferry_ports]" title="Acess_airports_ferry_ports" class="road">AAFP</th>
                                                        <th id="infodatatrack[properties][distance_airports_ferry_ports]" title="Distance_airports_ferry_ports" class="road">DAFP</th>
                                                        <th id="infodatatrack[properties][access_turistic_sites]" title="Accessuristic_sites" class="road">AS</th>
                                                        <th id="infodatatrack[properties][distance_turistic_sites]" title="Distanceuristic_sites" class="road">DS</th>
                                                        <th id="infodatatrack[properties][acess_industry_agriculture_fishing_sites]" title="Acess_Industry_Agriculture_Fishing_sites" class="road">AIAF</th>
                                                        <th id="infodatatrack[properties][distance_industries_agriculture_fishing_sites]" title="Distance_industries_agriculture_fishing_sites" class="road">DIAFS</th>
                                                        <th id="infodatatrack[properties][access_social_services]" title="Access_Social_Services" class="road">ASS</th>
                                                        <th id="infodatatrack[properties][distance_social_services]" title="Distance_social_services" class="road">DSS</th>
                                                        <th id="infodatatrack[properties][located_within_an_environmentally_protected_area]" title="Located_within_an_environmentally_protected_area" class="road">LOC PA</th>
                                                        <th id="infodatatrack[properties][distance_a_dumping_area]" title="Distance_a_dumping_area" class="road">DDA</th>
                                                        <th id="infodatatrack[properties][current_condition]" title="Current_condition" class="road">CC</th>
                                                        <th id="infodatatrack[properties][criticality]" title="Criticality" class="road">CRIT</th>
                                                        <th id="infodatatrack[properties][exposure_landslide_hazard]" title="Exposure_landslide_hazard" class="road">ELH</th>
                                                        <th id="infodatatrack[properties][exposure_flood_hazard]" title="Exposure_flood_hazard" class="road">EFH</th>
                                                        <th id="infodatatrack[properties][asset_response_against_hazards]" title="Asset_Response_against_hazards" class="road">ARAH</th>
                                                        <th id="infodatatrack[properties][asset_sensitivity]" title="Asset_Sensitivity" class="road">AS</th>
                                                        <th id="infodatatrack[properties][risk]" title="RISK" class="road">RISK</th>

                                                        <!-- ROAD FURNITURE DATA -->
                                                        <th id="infodatatrack[properties][existence_barriers_condition]" title="existence_barriers_condition" class="furniture"> EBC</th>
                                                        <th id="infodatatrack[properties][typology_barriers]" title="typology_barriers" class="furniture"> TB</th>
                                                        <th id="infodatatrack[properties][typology_safety_fence]" title="typology_safety_fence" class="furniture"> TSF</th>
                                                        <th id="infodatatrack[properties][functionality_asset_functioning_expected_barrier]" title="functionality_asset_functioning_expected_barrier" class="furniture"> FAFEB</th>
                                                        <th id="infodatatrack[properties][existence_signposting_road_signs_condition]" title="existence_signposting_road_signs_condition" class="furniture"> ESR</th>
                                                        <th id="infodatatrack[properties][typology_signaling]" title="typology_signaling" class="furniture"> TS</th>
                                                        <th id="infodatatrack[properties][functionality_asset_functioning_expected_signal]" title="functionality_asset_functioning_expected_signal" class="furniture"> FAFES</th>
                                                        <th id="infodatatrack[properties][existence_street_lighting]" title="existence_street_lighting" class="furniture"> ESL </th>
                                                        <th id="infodatatrack[properties][typology_street_lighting]" title="typology_street_lighting" class="furniture"> TSL</th>
                                                        <th id="infodatatrack[properties][functionality_asset_functioning_expected_light]" title="functionality_asset_functioning_expected_light" class="furniture"> FAFEL</th>
                                                        <th id="infodatatrack[properties][has_there_been_past_interventions]" title="has_there_been_past_interventions" class="furniture"> INTER</th>
                                                        <th id="infodatatrack[properties][year_performance_past_interventions]" title="year_performance_past_interventions" class="furniture"> PAST INT</th>
                                                        <th id="infodatatrack[properties][comments]" title="comments" class="furniture"> COMM</th>

                                                        <!-- BRIDGES -->
                                                        <th id="infodatatrack[properties][bcode]" title="CODE" class="bridges">CODE</th>
                                                        <th id="infodatatrack[properties][bname]" title="Name" class="bridges">NAME</th>
                                                        <th id="infodatatrack[properties][byearconstruc]" title="Year of construction" class="bridges">YEAR CONS</th>
                                                        <th id="infodatatrack[properties][btype]" title="Type of structure" class="bridges">TYPE</th>
                                                        <th id="infodatatrack[properties][bsurrounding]" title="Surroundings - Environment" class="bridges">SURROUNDING</th>
                                                        <th id="infodatatrack[properties][balternative]" title="Existence of Alternative Itinerary" class="bridges">ALTERNATIVE</th>
                                                        <th id="infodatatrack[properties][bobstaclesaved]" title="Obstacle overpassed" class="bridges">OBST SAVED</th>
                                                        <th id="infodatatrack[properties][bfloodscenario]" title="Design Flood Scenario" class="bridges">FLOOD SCEN</th>
                                                        <th id="infodatatrack[properties][bmaterialdeck]" title="Material - Deck" class="bridges">MAT DECK</th>
                                                        <th id="infodatatrack[properties][bmaterialpiers]" title="Material - Piers" class="bridges">MAT PIERS</th>
                                                        <th id="infodatatrack[properties][bmaterialabutments]" title="Material - Abutments" class="bridges">MAT ABUTS</th>
                                                        <th id="infodatatrack[properties][balignment]" title="Alignment" class="bridges">ALIGN</th>
                                                        <th id="infodatatrack[properties][bspans]" title="Number of spans" class="bridges">SPANS</th>
                                                        <th id="infodatatrack[properties][blenght]" title="Total Length (m)" class="bridges">LENGHT</th>
                                                        <th id="infodatatrack[properties][bmaxspan]" title="Max span (m)" class="bridges">MAXSPAN</th>
                                                        <th id="infodatatrack[properties][bwidth]" title="Width (m)" class="bridges">WIDTH</th>
                                                        <th id="infodatatrack[properties][bfreeheight]" title="Free height (m)" class="bridges">FREE HEIGHT</th>
                                                        <th id="infodatatrack[properties][bfoundation]" title="Type of foundations" class="bridges">FOUNDATION</th>
                                                        <th id="infodatatrack[properties][bpiersriver]" title="Piers over riverbed" class="bridges">PIERS RIVER</th>
                                                        <th id="infodatatrack[properties][bprotectabut]" title="Protection of abutments and nearby areas" class="bridges">PROT ABUT</th>
                                                        <th id="infodatatrack[properties][bprojectlocation]" title="Location of the documentation of bridge projects" class="bridges">PRJ LOC</th>
                                                        <th id="infodatatrack[properties][bphoto]" title="Photographs" class="bridges">PHOTO</th>
                                                        <th id="infodatatrack[properties][blastinspection]" title="Date of last inspection" class="bridges">LAST INSP</th>
                                                        <th id="infodatatrack[properties][bprevcondition]" title="Previous condition rate" class="bridges">PREV COND</th>
                                                        <th id="infodatatrack[properties][bvisualcondition]" title="Current Visual condition" class="bridges">VIS COND</th>
                                                        <th id="infodatatrack[properties][bdamagesfoundations]" title="Damages on foundations" class="bridges">DAM FOUND</th>
                                                        <th id="infodatatrack[properties][bdamagesstructural]" title="Damages on structural elements" class="bridges">DAM STRUCT</th>
                                                        <th id="infodatatrack[properties][bdamagesnonstructural]" title="Damages on non structural elements" class="bridges">DAM STRUCT</th>
                                                        <th id="infodatatrack[properties][bconslos]" title="Consequences of failure on LOS" class="bridges">CONS LOS</th>
                                                        <th id="infodatatrack[properties][bfailure]" title="Failure history" class="bridges">FAILURE</th>
                                                        <th id="infodatatrack[properties][bsurveyfreq]" title="Survey frequency" class="bridges">SURVEY FREQ</th>
                                                        <th id="infodatatrack[properties][bnextsurvey]" title="Date of Next survey" class="bridges">NEXT SURVEY</th>
                                                        <th id="infodatatrack[properties][bpastinterv]" title="Has there been past interventions?" class="bridges">PAST INTERV</th>
                                                        <th id="infodatatrack[properties][bintervextent]" title="Have they been global or partial interventions?" class="bridges">INT EXT ENT</th>
                                                        <th id="infodatatrack[properties][bdateinterv]" title="Date of performance of past interventions" class="bridges">DATE INT</th>
                                                        <th id="infodatatrack[properties][bscopeinterv]" title="Scope of past interventions" class="bridges">SCOPE INT</th>
                                                        <th id="infodatatrack[properties][bimpactinterv]" title="Impact on condition of past interventions" class="bridges">IMPACT INTERV</th>
                                                        <th id="infodatatrack[properties][blocdocinterv]" title="Location of the documentation of past interventions" class="bridges">LOC DOC INT</th>
                                                        <th id="infodatatrack[properties][bmaintissues]" title="Maintainability issues" class="bridges">MAINT ISSUES</th>
                                                        <th id="infodatatrack[properties][binvestment10years]" title="Investment undertaken in the last 10 years" class="bridges">INV10YEARS</th>
                                                        <th id="infodatatrack[properties][binvestmentrequired]" title="Investment required to upgrade to A class" class="bridges">INVREQ</th>
                                                        <th id="infodatatrack[properties][bomcomments]" title="Comments to Operation and Maintainance" class="bridges">OM COMMENTS</th>
                                                        <th id="infodatatrack[properties][bcondition]" title="Current condition" class="bridges">COND</th>
                                                        <th id="infodatatrack[properties][bcriticality]" title="Criticality" class="bridges">CRIT</th>
                                                        <th id="infodatatrack[properties][blandslide]" title="Exposure to landslide hazard" class="bridges">LANDSLIDE</th>
                                                        <th id="infodatatrack[properties][bflood]" title="Exposure to flood hazard" class="bridges">FLOOD</th>
                                                        <th id="infodatatrack[properties][bresphazard]" title="Asset Response against hazards" class="bridges">RESPHAZARD</th>
                                                        <th id="infodatatrack[properties][bsensitivity]" title="Asset Sensitivity" class="bridges">SENSITIVITY</th>
                                                        <th id="infodatatrack[properties][brisk]" title="RISK" class="bridges">RISK</th>
                                                        <!-- GEOTECHNICALS -->
                                                        <th id="infodatatrack[properties][gcode]" title="CODE" class="geotechnicals">CODE</th>
                                                        <th id="infodatatrack[properties][gyearconstruct]" title="Year of construction" class="geotechnicals">YEAR CONS</th>
                                                        <th id="infodatatrack[properties][gtype]" title="Type of earthwork" class="geotechnicals">TYPE</th>
                                                        <th id="infodatatrack[properties][gposition]" title="Position" class="geotechnicals">POS</th>
                                                        <th id="infodatatrack[properties][gmaterial]" title="Material - Retaining walls" class="geotechnicals">MAT</th>
                                                        <th id="infodatatrack[properties][gnature]" title="Nature - Earthworks" class="geotechnicals">NATURE</th>
                                                        <th id="infodatatrack[properties][gheight]" title="Height (m)" class="geotechnicals">HEIGHT</th>
                                                        <th id="infodatatrack[properties][gh_h]" title="Relation h/H (m)" class="geotechnicals">H_H</th>
                                                        <th id="infodatatrack[properties][gslope]" title="Slope (ยบ)" class="geotechnicals">SLOPE</th>
                                                        <th id="infodatatrack[properties][gdistance]" title="Distance to road (m)" class="geotechnicals">DIST</th>
                                                        <th id="infodatatrack[properties][glength]" title="Length (m)" class="geotechnicals">LENGTH</th>
                                                        <th id="infodatatrack[properties][gblocks]" title="Size of blocks (m)" class="geotechnicals">BLOCKS</th>
                                                        <th id="infodatatrack[properties][gcorrectmeas]" title="Corrective measures" class="geotechnicals">CORRECT MEAS</th>
                                                        <th id="infodatatrack[properties][gvegetation]" title="Existence of Vegetation" class="geotechnicals">VEGETATION</th>
                                                        <th id="infodatatrack[properties][gtypevegetation]" title="Type of Vegetation" class="geotechnicals">TYPE VEG</th>
                                                        <th id="infodatatrack[properties][gphoto]" title="Photographs" class="geotechnicals">PHOTO</th>
                                                        <th id="infodatatrack[properties][glastinspection]" title="Date of last inspection" class="geotechnicals">LAST INSP</th>
                                                        <th id="infodatatrack[properties][gprevcondition]" title="Previous condition rate" class="geotechnicals">PREV COND</th>
                                                        <th id="infodatatrack[properties][gvisualcondition]" title="Current visual condition" class="geotechnicals">VISUAL COND</th>
                                                        <th id="infodatatrack[properties][gevidrecfailures]" title="Evidence of recent failures?" class="geotechnicals">EVID REC FAIL</th>
                                                        <th id="infodatatrack[properties][gtypefailure]" title="Type of failure process" class="geotechnicals">TYPE FAIL</th>
                                                        <th id="infodatatrack[properties][gextentfailure]" title="Extent of failure" class="geotechnicals">EXT ENT FAIL</th>
                                                        <th id="infodatatrack[properties][gconslos]" title="Consequences of failure on LOS" class="geotechnicals">CONS LOS</th>
                                                        <th id="infodatatrack[properties][gfailure]" title="Failure history" class="geotechnicals">FAIL</th>
                                                        <th id="infodatatrack[properties][gsurveyfreq]" title="Survey frequency" class="geotechnicals">SURVEY FREQ</th>
                                                        <th id="infodatatrack[properties][gnextsurvey]" title="Next survey" class="geotechnicals">NEXT SURV</th>
                                                        <th id="infodatatrack[properties][gpastinterv]" title="Has there been past interventions?" class="geotechnicals">PAST INTERV</th>
                                                        <th id="infodatatrack[properties][gintervextent]" title="Have they been global or partial interventions?" class="geotechnicals">INT EXT ENT</th>
                                                        <th id="infodatatrack[properties][gdateinterv]" title="Date of performance of past interventions" class="geotechnicals">DATE INT</th>
                                                        <th id="infodatatrack[properties][gscopeinterv]" title="Scope of past interventions" class="geotechnicals">SCOPE INT</th>
                                                        <th id="infodatatrack[properties][gimpactinterv]" title="Impact on condition of past interventions" class="geotechnicals">IMPACT INT</th>
                                                        <th id="infodatatrack[properties][glocdocinterv]" title="Location of the documentation of past interventions" class="geotechnicals">LOC DOC INT</th>
                                                        <th id="infodatatrack[properties][gmaintissues]" title="Maintainability issues" class="geotechnicals">MAINT ISSUES</th>
                                                        <th id="infodatatrack[properties][ginvestment10years]" title="Investment undertaken in the last 10 years" class="geotechnicals">INV10Y</th>
                                                        <th id="infodatatrack[properties][rgnvestmentrequired]" title="Investment required to upgrade to A class" class="geotechnicals">INVEST REQ</th>
                                                        <th id="infodatatrack[properties][gomcomments]" title="Comments to Maintainance" class="geotechnicals">OM_COM</th>
                                                        <th id="infodatatrack[properties][gcondition]" title="Current Condition" class="geotechnicals">COND</th>
                                                        <th id="infodatatrack[properties][gcriticality]" title="Criticality" class="geotechnicals">CRIT</th>
                                                        <th id="infodatatrack[properties][glandslide]" title="Exposure to landslide hazard" class="geotechnicals">LANDSLIDE</th>
                                                        <th id="infodatatrack[properties][gflood]" title="Exposure to flood hazard" class="geotechnicals">FLOOD</th>
                                                        <th id="infodatatrack[properties][gresphazard]" title="Asset Response against hazards" class="geotechnicals">RESPHAZARD</th>
                                                        <th id="infodatatrack[properties][gsensitivity]" title="Asset Sensitivity" class="geotechnicals">SENSITIVITY</th>
                                                        <th id="infodatatrack[properties][grisk]" title="RISK" class="geotechnicals">RISK</th>
                                                        <!-- DRAINAGE -->
                                                        <th id="infodatatrack[properties][dcode]" title="CODE" class="drainage">CODE</th>
                                                        <th id="infodatatrack[properties][dyearconstruc]" title="Year of construction" class="drainage">YEAR CONS</th>
                                                        <th id="infodatatrack[properties][dtype]" title="Type of drainage" class="drainage">TYPE</th>
                                                        <th id="infodatatrack[properties][dcapacity]" title="Capacity" class="drainage">CAPACITY</th>
                                                        <th id="infodatatrack[properties][drainpeak]" title="Rain Peak Values" class="drainage">RAIN PEAK</th>
                                                        <th id="infodatatrack[properties][dmaterial]" title="Material" class="drainage">MATERIAL</th>
                                                        <th id="infodatatrack[properties][dslope]" title="Slope (%)" class="drainage">SLOPE</th>
                                                        <th id="infodatatrack[properties][dsection]" title="Longitudinal drainage - Type of section" class="drainage">SECTION</th>
                                                        <th id="infodatatrack[properties][ddiameter]" title="Diameter (m)" class="drainage">DIAMETER</th>
                                                        <th id="infodatatrack[properties][dlength]" title="Length (m)" class="drainage">LENGTH</th>
                                                        <th id="infodatatrack[properties][dprotentrance]" title="Protection of embankment at the drain entrance" class="drainage">PROTENTRANCE</th>
                                                        <th id="infodatatrack[properties][dprotexit]" title="Protection bed / inverter arch at the drain exit" class="drainage">PROTEXIT</th>
                                                        <th id="infodatatrack[properties][dphoto]" title="Photographs" class="drainage">PHOTO</th>
                                                        <th id="infodatatrack[properties][dlastinspection]" title="Date of last inspection" class="drainage">LAST INS</th>
                                                        <th id="infodatatrack[properties][dprevcondition]" title="Previous condition rate" class="drainage">PREV COND</th>
                                                        <th id="infodatatrack[properties][dvisualcondition]" title="Current Visual Condition" class="drainage">VISUAL COND</th>
                                                        <th id="infodatatrack[properties][dcrossdamages]" title="Damages on Cross Drainage" class="drainage">CROSS DAM</th>
                                                        <th id="infodatatrack[properties][dlostsection]" title="Lost of section due to blocking/silting/obstacles (%)" class="drainage">LOST SEC</th>
                                                        <th id="infodatatrack[properties][dconslos]" title="Consequences of failure on LOS" class="drainage">CONS LOS</th>
                                                        <th id="infodatatrack[properties][dfailure]" title="Failure history" class="drainage">FAILURE</th>
                                                        <th id="infodatatrack[properties][dsurveyfreq]" title="Survey frequency" class="drainage">SURVEY FREQ</th>
                                                        <th id="infodatatrack[properties][dnextsurvey]" title="Date of Next survey" class="drainage">NEXT SURVEY</th>
                                                        <th id="infodatatrack[properties][dpastinterv]" title="Has there been past interventions?" class="drainage">PAST INT</th>
                                                        <th id="infodatatrack[properties][dintervextent]" title="Have they been global or partial interventions?" class="drainage">INT EXT ENT</th>
                                                        <th id="infodatatrack[properties][ddateinterv]" title="Date of performance of past interventions" class="drainage">DATE INT</th>
                                                        <th id="infodatatrack[properties][dscopeinterv]" title="Scope of past interventions" class="drainage">SCOPE INT</th>
                                                        <th id="infodatatrack[properties][dimpactinterv]" title="Impact on condition of past interventions" class="drainage">IMPACT INTV</th>
                                                        <th id="infodatatrack[properties][dlocdocinterv]" title="Location of the documentation of past interventions" class="drainage">LOC DOC INT</th>
                                                        <th id="infodatatrack[properties][dmaintissues]" title="Maintainability issues" class="drainage">MAINT ISSUES</th>
                                                        <th id="infodatatrack[properties][dinvestment10years]" title="Investment undertaken in the last 10 years" class="drainage">INV10YS</th>
                                                        <th id="infodatatrack[properties][dinvestmentrequired]" title="Investment required to upgrade to A class" class="drainage">INV REQ</th>
                                                        <th id="infodatatrack[properties][domcomments]" title="Comments to Operation and Maintainance" class="drainage">OM_COMMENTS</th>
                                                        <th id="infodatatrack[properties][dcondition]" title="Current Condition" class="drainage">COND</th>
                                                        <th id="infodatatrack[properties][dcriticality]" title="Criticality" class="drainage">CRIT</th>
                                                        <th id="infodatatrack[properties][dlandslide]" title="Exposure to landslide hazard" class="drainage">LANDSLIDE</th>
                                                        <th id="infodatatrack[properties][dflood]" title="Exposure to flood hazard" class="drainage">FLOOD</th>
                                                        <th id="infodatatrack[properties][dresphazard]" title="Asset Response against hazards" class="drainage">RESPHAZARD</th>
                                                        <th id="infodatatrack[properties][dsensitivity]" title="Asset Sensitivity" class="drainage">SENS</th>
                                                        <th id="infodatatrack[properties][drisk]" title="RISK" class="drainage">RISK</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodytable">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- form panel-->

                        </div>
                        <!--/content-panel -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer ">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <% include partials/footer_scripts %>


        <!-- <script src="/assets/js/jquery.js "></script> -->
        <script src="/assets/js/bootstrap.min.js "></script>
        <script class="include " type="text/javascript " src="/assets/js/jquery.dcjqaccordion.2.7.js "></script>
        <script src="/assets/js/jquery.scrollTo.min.js "></script>
        <script src="/assets/js/jquery.nicescroll.js " type="text/javascript "></script>


        <!--common script for all pages-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js "></script>
        <script src="/assets/js/common-scripts.js "></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js "></script>

        <!--script for this page-->
        <%# include ./partials/data_infodatatrack_scripts %>
            <script>
                var rObject = <%- JSON.stringify(infodatatrack) %>
                    //console.log(rObject);
                $('#bodytable').add('<tr><td>' + rObject._id + '</td></tr>')
            </script>

</body>

</html>