<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/head %>
        <style>
            th,
            td {
                /*use this property to disbale soft wrap*/
                white-space: nowrap;
                /*To make extra certain,add this css property*/
                word-break: keep-all;
                background-color: white;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Edit Road</h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-12" style="height:80vh;">
                        <div class="content-panel">
                            <div class="form-panel">
                                <form id="form" class="form-horizontal style-form" method="post" action="/auth/WEB/infodatatrack/update_infodatatrack">

                                    <div class="form-group">
                                        <input type="hidden" name="infodatatrack[_id]" value="<%- infodatatrack._id %>">
                                        <label class="col-xs-2 control-label">ROAD:</label>
                                        <div class="col-xs-6">
                                            <input name="infodatatrack[properties][name]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.name %>" required>
                                            <input name="infodatatrack[properties][video_roads]" type="hidden" class="form-control round-form input-sm" value="<%- infodatatrack.properties.video_roads %>" required>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Modificar</button>
                                            <button onclick="window.location='/auth/WEB/maps/view_data';" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                        </div>
                                        <br>
                                        <div class="col-xs-4">
                                            <b>Actualizado:</b>
                                            <%- moment(infodatatrack.updated_at).format('DD/MM/YYYY HH:mm:ss') %>
                                        </div>
                                        <div class="col-xs-4">
                                            <button id="showall" type="button" class="btn btn-round btn-success"><i class="fa fa-eye"></i> SHOW ALL COLUMNS</button>

                                        </div>
                                    </div>

                                    <div id="accordion">
                                        <div class="table-responsive">


                                            <table id="dataTable" class="table table-bordered table-xs">
                                                <thead>
                                                    <tr>
                                                        <th title="ID">#</th>
                                                        <th title="Selection"> Sel </th>
                                                        <th title="Inventary">INV</th>
                                                        <th id="infodatatrack[properties][coordTimes]" title="Date Time"> TIME </th>
                                                        <th id="infodatatrack[geometry][coordinates]" title="GPS - POS: Long - Lat - Cota">GPS </th>
                                                        <th id="infodatatrack[properties][pk]" title="PK"> PK </th>
                                                        <th id="infodatatrack[properties][road_category]" title="Road Category"> RC</th>
                                                        <th id="infodatatrack[properties][Roadlab]" title="IRI"> IRI </th>
                                                        <th id="infodatatrack[properties][date_construction]" title="Date of construction">DC</th>
                                                        <th id="infodatatrack[properties][alternative_itinerary]" title="Existence of Alternative Itinerary">EAI</th>
                                                        <th id="infodatatrack[properties][open_traffic]" title="Open to traffic?">OPEN</th>
                                                        <th id="infodatatrack[properties][existence_gauging_stations]" title="Existence of Gauging Stations">GS</th>
                                                        <th id="infodatatrack[properties][adt]" title="ADT">ADT</th>
                                                        <th id="infodatatrack[properties][traffic_high_peak]" title="Traffic high peak"> THP</th>
                                                        <th id="infodatatrack[properties][pavement_material]" title="pavement material"> PM</th>
                                                        <th id="infodatatrack[properties][base_material]" title="base material"> BM</th>
                                                        <th id="infodatatrack[properties][subbase_material]" title="subbase material"> SM</th>
                                                        <th id="infodatatrack[properties][number_lanes_inc]" title="Number of lanes (increasing KP)"> NOL INC</th>
                                                        <th id="infodatatrack[properties][number_lanes_dec]" title="Number of lanes (decreasing KP)"> NOL DEC</th>
                                                        <th id="infodatatrack[properties][total_number_lanes]" title="Total number of lanes"> TOT NOL</th>
                                                        <th id="infodatatrack[properties][total_width]" title="Total width (m)"> TOT WIDTH</th>
                                                        <th id="infodatatrack[properties][location_doc_road_projects]" title="Location of the documentation of road projects"> LOC DOC RP</th>
                                                        <th id="infodatatrack[properties][last_inspection]" title="Date of last inspection"> DLI</th>
                                                        <th id="infodatatrack[properties][prev_condition]" title="Previous condition rate"> PCR</th>
                                                        <th id="infodatatrack[properties][failure_history]" title="Failure history"> FH</th>
                                                        <th id="infodatatrack[properties][cons_LOS]" title="Consequences of failure on LOS"> CF LOS</th>
                                                        <th id="infodatatrack[properties][survey_freq]" title="Survey frequency"> SF</th>
                                                        <th id="infodatatrack[properties][next_survey]" title="Date of Next survey"> DNS</th>
                                                        <th id="infodatatrack[properties][past_interv]" title="Has there been past interventions?"> PINT</th>
                                                        <th id="infodatatrack[properties][interv_extent]" title="Have they been global or partial interventions?"> GPI</th>
                                                        <th id="infodatatrack[properties][year_interv]" title="Year of performance of past interventions"> YPI</th>
                                                        <th id="infodatatrack[properties][scope_interv]" title="Scope of past interventions"> SI</th>
                                                        <th id="infodatatrack[properties][impact_interv]" title="Impact on condition of past interventions"> II</th>
                                                        <th id="infodatatrack[properties][loc_doc_interv]" title="Location of the documentation of past interventions"> LDI</th>
                                                        <th id="infodatatrack[properties][maint_issues]" title="Maintainability issues"> MI</th>
                                                        <th id="infodatatrack[properties][investment10years]" title="Investment undertaken in the last 10 years"> I10Y</th>
                                                        <th id="infodatatrack[properties][investment_required]" title="Investment required to upgrade to A class"> IR</th>
                                                        <th id="infodatatrack[properties][om_comments]" title="Comments to Operation and Maintainance"> OM COM</th>
                                                        <th id="infodatatrack[properties][acess_airports_ferry_ports]" title="Acess_airports_ferry_ports">AAFP</th>
                                                        <th id="infodatatrack[properties][distance_airports_ferry_ports]" title="Distance_airports_ferry_ports">DAFP</th>
                                                        <th id="infodatatrack[properties][access_turistic_sites]" title="Accessuristic_sites">AS</th>
                                                        <th id="infodatatrack[properties][distance_turistic_sites]" title="Distanceuristic_sites">DS</th>
                                                        <th id="infodatatrack[properties][acess_industry_agriculture_fishing_sites]" title="Acess_Industry_Agriculture_Fishing_sites">AIAF</th>
                                                        <th id="infodatatrack[properties][distance_industries_agriculture_fishing_sites]" title="Distance_industries_agriculture_fishing_sites">DIAFS</th>
                                                        <th id="infodatatrack[properties][access_social_services]" title="Access_Social_Services">ASS</th>
                                                        <th id="infodatatrack[properties][distance_social_services]" title="Distance_social_services">DSS</th>
                                                        <th id="infodatatrack[properties][located_within_an_environmentally_protected_area]" title="Located_within_an_environmentally_protected_area">LOC PA</th>
                                                        <th id="infodatatrack[properties][distance_a_dumping_area]" title="Distance_a_dumping_area">DDA</th>
                                                        <th id="infodatatrack[properties][current_condition]" title="Current_condition">CC</th>
                                                        <th id="infodatatrack[properties][criticality]" title="Criticality">CRIT</th>
                                                        <th id="infodatatrack[properties][exposure_landslide_hazard]" title="Exposure_landslide_hazard">ELH</th>
                                                        <th id="infodatatrack[properties][exposure_flood_hazard]" title="Exposure_flood_hazard">EFH</th>
                                                        <th id="infodatatrack[properties][asset_response_against_hazards]" title="Asset_Response_against_hazards">ARAH</th>
                                                        <th id="infodatatrack[properties][asset_sensitivity]" title="Asset_Sensitivity">AS</th>
                                                        <th id="infodatatrack[properties][risk]" title="RISK">RISK</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% 
                                                    var pk = 0;
                                                infodatatrack.properties.coordTimes.forEach(function(val, index){ 
                                                   %>

                                                        <tr>
                                                            <td>
                                                                <%= index%>
                                                            </td>
                                                            <td>
                                                                <input id="check<%- index %>" name="check[_id]" type="checkbox" class="input-xs" value="<%- infodatatrack._id %>">
                                                            </td>
                                                            <td>
                                                                <input id="<%- index %>" name="infodatatrack[properties][inventario]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.inventario[index] %>">
                                                            </td>
                                                            <td id="infodatatrack[properties][coordTimes]">
                                                                <%- moment(infodatatrack.properties.coordTimes[index]).format('DD-MM-YYYY HH:mm:ss') %>
                                                            </td>
                                                            <td id="infodatatrack[geometry][coordinates]">
                                                                <%- '[' + infodatatrack.geometry.coordinates[index] +']' %>
                                                            </td>
                                                            <td id="infodatatrack[properties][pk]">
                                                                <%- infodatatrack.properties.pk[index] %>
                                                            </td>
                                                            <td id="infodatatrack[properties][road_category]">
                                                                <select name="infodatatrack[properties][road_category]" class="form-control">
                                                                        <option>Main Road</option>
                                                                        <option>Secondary</option>
                                                                        <option>Feeder</option>
                                                                        <option>Urban</option>
                                                                        <option>1</option>
                                                                      </select>

                                                            </td>
                                                            <td id="infodatatrack[properties][Roadlab]">
                                                                <% if(infodatatrack.properties.Roadlab){ %>
                                                                    <input name="infodatatrack[properties][Roadlab]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.Roadlab[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][Roadlab]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][date_construction]">
                                                                <% 
                                                                if(typeof(infodatatrack.properties.date_construction[index]) !== "undefined" && infodatatrack.properties.date_construction[index] !== ""){ %>
                                                                    <input name="infodatatrack[properties][date_construction]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.date_construction[index] %>">
                                                                    <% } else {%>
                                                                        <input name="infodatatrack[properties][date_construction]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][alternative_itinerary]">
                                                                <select name="infodatatrack[properties][alternative_itinerary]" class="form-control">
                                                                            <option>Y</option>
                                                                            <option>N</option>
                                                                            <option>NA</option>
                                                                            <option>Unknown</option>
                                                                            <option>1</option>
                                                                          </select>

                                                            </td>
                                                            <td id="infodatatrack[properties][open_traffic]">
                                                                <select name="infodatatrack[properties][open_traffic]" class="form-control">
                                                                            <option>Y</option>
                                                                            <option>N</option>
                                                                            <option>NA</option>
                                                                            <option>Unknown</option>
                                                                            <option>1</option>
                                                                          </select>

                                                            </td>
                                                            <td id="infodatatrack[properties][existence_gauging_stations]">
                                                                <select name="infodatatrack[properties][existence_gauging_stations]" class="form-control">
                                                                            <option>Y</option>
                                                                            <option>N</option>
                                                                            <option>NA</option>
                                                                            <option>Unknown</option>
                                                                            <option>1</option>
                                                                          </select>

                                                            </td>
                                                            <td id="infodatatrack[properties][adt]">
                                                                <% if(infodatatrack.properties.adt){ %>
                                                                    <input name="infodatatrack[properties][adt]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.adt[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][adt]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][traffic_high_peak]">
                                                                <% if(infodatatrack.properties.traffic_high_peak){ %>
                                                                    <input name="infodatatrack[properties][traffic_high_peak]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.traffic_high_peak[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][traffic_high_peak]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][pavement_material]">
                                                                <select name="infodatatrack[properties][pavement_material]" class="form-control">
                                                                    <option>Asphalt
                                                                    </option>
                                                                    <option>Bituminous pavement
                                                                    </option>
                                                                    <option>Macadam
                                                                    </option>
                                                                    <option>Cement Stabilized
                                                                    </option>
                                                                            <option>Gravel surface
                                                                            </option>
                                                                            <option>Earth
                                                                                </option>
                                                                                <option>Other
                                                                                </option>
                                                                            <option>Unknown
                                                                            </option>
                                                                            <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][base_material]">
                                                                <% if(infodatatrack.properties.base_material){ %>
                                                                    <input name="infodatatrack[properties][base_material]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.base_material[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][base_material]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][subbase_material]">
                                                                <% if(infodatatrack.properties.subbase_material){ %>
                                                                    <input name="infodatatrack[properties][subbase_material]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.subbase_material[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][subbase_material]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][number_lanes_inc]">
                                                                <% if(infodatatrack.properties.number_lanes_inc){ %>
                                                                    <input name="infodatatrack[properties][number_lanes_inc]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.number_lanes_inc[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][number_lanes_inc]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][number_lanes_dec]">
                                                                <% if(infodatatrack.properties.number_lanes_dec){ %>
                                                                    <input name="infodatatrack[properties][number_lanes_dec]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.number_lanes_dec[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][number_lanes_dec]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][total_number_lanes]">
                                                                <% if(infodatatrack.properties.total_number_lanes){ %>
                                                                    <input name="infodatatrack[properties][total_number_lanes]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.total_number_lanes[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][total_number_lanes]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][total_width]">
                                                                <% if(infodatatrack.properties.total_width){ %>
                                                                    <input name="infodatatrack[properties][total_width]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.total_width[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][total_width]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][location_doc_road_projects]">
                                                                <% if(infodatatrack.properties.location_doc_road_projects){ %>
                                                                    <input name="infodatatrack[properties][location_doc_road_projects]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.location_doc_road_projects[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][location_doc_road_projects]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][last_inspection]">
                                                                <% if(infodatatrack.properties.last_inspection){ %>
                                                                    <input name="infodatatrack[properties][last_inspection]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.last_inspection[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][last_inspection]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][prev_condition]">
                                                                <select name="infodatatrack[properties][prev_condition]" class="form-control">
                                                                    <option>A
                                                                    </option>
                                                                    <option>B
                                                                    </option>
                                                                    <option>C
                                                                    </option>
                                                                    <option>C
                                                                    </option>
                                                                    <option>D
                                                                    </option>
                                                                    <option>E
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>N/A
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][failure_history]">
                                                                <% if(infodatatrack.properties.failure_history){ %>
                                                                    <input name="infodatatrack[properties][failure_history]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.failure_history[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][failure_history]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][cons_LOS]">
                                                                <% if(infodatatrack.properties.cons_LOS){ %>
                                                                    <input name="infodatatrack[properties][cons_LOS]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.cons_LOS[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][cons_LOS]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][survey_freq]">
                                                                <select name="infodatatrack[properties][survey_freq]" class="form-control">
                                                                    <option>Less than once a year_interv
                                                                    </option>
                                                                    <option>Once a year
                                                                    </option>
                                                                    <option>Every 6 months
                                                                    </option>
                                                                    <option>Every 6 months
                                                                    </option>
                                                                    <option>More than once every 3 months
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][next_survey]">
                                                                <% if(infodatatrack.properties.next_survey){ %>
                                                                    <input name="infodatatrack[properties][next_survey]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.next_survey[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][next_survey]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][past_interv]">
                                                                <select name="infodatatrack[properties][past_interv]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>

                                                            <td id="infodatatrack[properties][interv_extent]">
                                                                <select name="infodatatrack[properties][interv_extent]" class="form-control">
                                                                    <option>Global
                                                                    </option>
                                                                    <option>Partial
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][year_interv]">
                                                                <% if(infodatatrack.properties.year_interv){ %>
                                                                    <input name="infodatatrack[properties][year_interv]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.year_interv[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][year_interv]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][scope_interv]">
                                                                <% if(infodatatrack.properties.scope_interv){ %>
                                                                    <input name="infodatatrack[properties][scope_interv]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.scope_interv[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][scope_interv]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][impact_interv]">
                                                                <% if(infodatatrack.properties.impact_interv){ %>
                                                                    <input name="infodatatrack[properties][impact_interv]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.impact_interv[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][impact_interv]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][loc_doc_interv]">
                                                                <% if(infodatatrack.properties.loc_doc_interv){ %>
                                                                    <input name="infodatatrack[properties][loc_doc_interv]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.loc_doc_interv[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][loc_doc_interv]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][maint_issues]">
                                                                <% if(infodatatrack.properties.maint_issues){ %>
                                                                    <input name="infodatatrack[properties][maint_issues]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.maint_issues[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][maint_issues]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][investment10years]">
                                                                <% if(infodatatrack.properties.investment10years){ %>
                                                                    <input name="infodatatrack[properties][investment10years]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.investment10years[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][investment10years]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][investment_required]">
                                                                <% if(infodatatrack.properties.investment_required){ %>
                                                                    <input name="infodatatrack[properties][investment_required]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.investment_required[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][investment_required]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][om_comments]">
                                                                <% if(infodatatrack.properties.om_comments){ %>
                                                                    <input name="infodatatrack[properties][om_comments]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.om_comments[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][om_comments]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][acess_airports_ferry_ports]">
                                                                <select name="infodatatrack[properties][acess_airports_ferry_ports]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][distance_airports_ferry_ports]">
                                                                <% if(infodatatrack.properties.distance_airports_ferry_ports) { %>
                                                                    <input name="infodatatrack[properties][distance_airports_ferry_ports]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.distance_airports_ferry_ports[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][distance_airports_ferry_ports]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][access_turistic_sites]">
                                                                <select name="infodatatrack[properties][access_turistic_sites]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][distance_turistic_sites]">
                                                                <% if(infodatatrack.properties.distance_turistic_sites) { %>
                                                                    <input name="infodatatrack[properties][distance_turistic_sites]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.distance_turistic_sites[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][distance_turistic_sites]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][acess_industry_agriculture_fishing_sites]">
                                                                <select name="infodatatrack[properties][acess_industry_agriculture_fishing_sites]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][distance_industries_agriculture_fishing_sites]">
                                                                <% if(infodatatrack.properties.distance_industries_agriculture_fishing_sites) { %>
                                                                    <input name="infodatatrack[properties][distance_industries_agriculture_fishing_sites]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.distance_industries_agriculture_fishing_sites[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][distance_industries_agriculture_fishing_sites]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][access_social_services]">
                                                                <select name="infodatatrack[properties][access_social_services]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][distance_social_services]">
                                                                <% if(infodatatrack.properties.distance_social_services) { %>
                                                                    <input name="infodatatrack[properties][distance_social_services]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.distance_social_services[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][distance_social_services]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][located_within_an_environmentally_protected_area]">
                                                                <select name="infodatatrack[properties][located_within_an_environmentally_protected_area]" class="form-control">
                                                                    <option>Yes
                                                                    </option>
                                                                    <option>No
                                                                    </option>
                                                                    <option>NA
                                                                    </option>
                                                                    <option>Unknown
                                                                    </option>
                                                                    <option>1</option>
                                                                        </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][distance_a_dumping_area]">
                                                                <% if(infodatatrack.properties.distance_a_dumping_area) { %>
                                                                    <input name="infodatatrack[properties][distance_a_dumping_area]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.distance_a_dumping_area[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][distance_a_dumping_area]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>

                                                            <td id="infodatatrack[properties][current_condition]">
                                                                <select name="infodatatrack[properties][current_condition]" class="form-control">
                                                                    <option>A</option>
                                                                    <option>B</option>
                                                                    <option>C</option>
                                                                    <option>D</option>
                                                                    <option>E</option>
                                                                    <option>Unknown</option>
                                                                    <option>N/A</option>
                                                                    <option>1</option>
                                                                </select>
                                                            </td>

                                                            <td id="infodatatrack[properties][criticality]">
                                                                <select name="infodatatrack[properties][criticality]" class="form-control">
                                                                    <option>Very High</option>
                                                                    <option>High</option>
                                                                    <option>Medium</option>
                                                                    <option>Low</option>
                                                                    <option>Very Low</option>
                                                                    <option>Unknown</option>
                                                                    <option>1</option>
                                                                </select>
                                                            </td>
                                                            <td id="infodatatrack[properties][exposure_landslide_hazard]">
                                                                <% if(infodatatrack.properties.exposure_landslide_hazard) { %>
                                                                    <input name="infodatatrack[properties][exposure_landslide_hazard]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.exposure_landslide_hazard[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][exposure_landslide_hazard]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][exposure_flood_hazard]">
                                                                <% if(infodatatrack.properties.exposure_flood_hazard) { %>
                                                                    <input name="infodatatrack[properties][exposure_flood_hazard]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.exposure_flood_hazard[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][exposure_flood_hazard]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][asset_response_against_hazards]">
                                                                <% if(infodatatrack.properties.asset_response_against_hazards) { %>
                                                                    <input name="infodatatrack[properties][asset_response_against_hazards]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.asset_response_against_hazards[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][asset_response_against_hazards]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][asset_sensitivity]">
                                                                <% if(infodatatrack.properties.asset_sensitivity) { %>
                                                                    <input name="infodatatrack[properties][asset_sensitivity]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.asset_sensitivity[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][asset_sensitivity]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                            <td id="infodatatrack[properties][risk]">
                                                                <% if(infodatatrack.properties.risk) { %>
                                                                    <input name="infodatatrack[properties][risk]" type="text" class="form-control round-form input-sm" value="<%- infodatatrack.properties.risk[index] %>">
                                                                    <%} else {%>
                                                                        <input name="infodatatrack[properties][risk]" type="text" class="form-control round-form input-sm" value="">
                                                                        <% } %>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- form panel-->

                        </div>
                        <!--/content-panel -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer ">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <% include partials/footer_scripts %>

        <!-- <script src="/assets/js/jquery.js "></script> -->
        <script src="/assets/js/bootstrap.min.js "></script>
        <script class="include " type="text/javascript " src="/assets/js/jquery.dcjqaccordion.2.7.js "></script>
        <script src="/assets/js/jquery.scrollTo.min.js "></script>
        <script src="/assets/js/jquery.nicescroll.js " type="text/javascript "></script>


        <!--common script for all pages-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js "></script>
        <script src="/assets/js/common-scripts.js "></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js "></script>

        <!--script for this page-->
        <% include ./partials/data_infodatatrack_scripts %>

</body>

</html>