<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/head %>


</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
        ***** Google Maps      
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <h3><i class="fa fa-angle-right"></i> Edit Road</h3>
                <!-- page start-->
                <div class="row mt">
                    <div class="col-md-12" style="height:80vh;">
                        <div class="content-panel">
                            <div class="form-panel">
                                <form class="form-horizontal style-form" method="post" action="/auth/WEB/road/update_road">

                                    <div class="form-group">
                                        <input type="hidden" name="road[_id]" value="<%- road._id %>">
                                        <label class="col-xs-2 control-label">ROAD:</label>
                                        <div class="col-xs-6">
                                            <input name="road[properties][name]" type="text" class="form-control round-form input-sm" value="<%- road.properties.name %>" required>
                                        </div>
                                        <div class="col-xs-4">
                                            <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Modificar</button>
                                            <button onclick="window.location='/auth/WEB/maps/view_data';" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button> </div>
                                    </div>

                                    <div id="accordion">
                                        <table id="dataTable" class="table">
                                            <thead>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Time</td>
                                                    <td>GPS</td>
                                                    <td>PK (m)</td>
                                                    <td>UTM</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var i=0;
                                                    var pk = 0;
                                                road.properties.coordTimes.forEach(function(val){ 
                                                   %>

                                                    <tr>

                                                        <td>
                                                            <%= i%>
                                                        </td>
                                                        <td>
                                                            <%- moment(road.properties.coordTimes[i]).format('DD-MM-YYYY HH:mm:ss') %>
                                                        </td>
                                                        <td>
                                                            [
                                                            <%- road.geometry.coordinates[i] %>]
                                                        </td>
                                                        <td>
                                                            <% var utmValAct= utm.fromLatLon(road.geometry.coordinates[i][0], road.geometry.coordinates[i][1],20);
                                                             if(i>0){ 
                                                                var utmValAnt= utm.fromLatLon(road.geometry.coordinates[i-1][0], road.geometry.coordinates[i-1][1],20);

                                                                var easting =  utmValAct.easting - utmValAnt.easting;
                                                                if (easting<0) easting*=-1;
                                                                var northing =  utmValAct.northing - utmValAnt.northing;
                                                                if (northing<0) northing*=-1;
                                                                pk += Math.sqrt(Math.pow(easting,2) + Math.pow(northing,2));
                                                                %>
                                                                <%-  Math.round(pk * 100) / 100  %>
                                                                    <%}else{%>
                                                                        0
                                                                        <% } %>
                                                        </td>
                                                        <td>
                                                            <%- JSON.stringify(utmValAct ) %>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <% i++;
                                                }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                            <!-- form panel-->

                        </div>
                        <!--/content-panel -->
                    </div>
                </div>
                <!-- page end-->
            </section>
        </section>
        <!-- /MAIN CONTENT -->

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <% include partials/footer %>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/assets/js/common-scripts.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

    <!--script for this page-->

    <script>
        function saveRoad() {
            alert('Save ROAD');
        }
    </script>

</body>

</html>