<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!-- main content Permission denied -->
        <% if(!token.admin) {%>
            <% include partials/error_permissions %>
                <!-- End permission denied -->
                <%} else {%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper">
                            <h3><i class="fa fa-angle-right"></i>
                                <%- trans('USER_TITLE') %>
                            </h3>
                            <div class="row mt">
                                <div class="col-md-12">
                                    <div class="content-panel">
                                        <table class="table table-striped table-advance table-hover">
                                            <button type="button" class="btn btn-round btn-success" data-toggle="modal" data-target="#newUser"><i class="fa fa-user-plus"></i> <%- trans('USER') %></button>
                                            <hr>
                                            <thead>
                                                <tr>
                                                    <th><i class="fa fa-address-card-o"></i>
                                                        <%- trans("USER_NOMBRE") %>
                                                    </th>
                                                    <th><i class="fa fa-users"></i>
                                                        <%- trans("USER_ROL") %>
                                                    </th>
                                                    <th><i class="fa fa-user-circle"></i>
                                                        <%- trans("USER_LOGIN") %>
                                                    </th>
                                                    <th><i class="fa fa-power-off"></i>
                                                        <%- trans("USER_ESTADO") %>
                                                    </th>
                                                    <th><i class=" fa fa-edit"></i>
                                                        <%- trans("USER_ACCION") %>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < users.length; i++) {%>
                                                    <tr id="myTableRow_<%=users[i]._id %>">
                                                        <td>
                                                            <%= users[i].nombre %>
                                                                <%= users[i].apellido1 %>
                                                                    <%= users[i].apellido2 %>
                                                        </td>
                                                        <td>
                                                            <% if(users[i].admin){ %>
                                                                <span class="fa fa-star text-danger"></span>
                                                                <% } else { %>
                                                                    <span class="fa fa-user-o text-primary"></span>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <%= users[i].login %>
                                                        </td>
                                                        <td>
                                                            <div id="tag_<%=users[i]._id %>">
                                                                <% if(users[i].activo){ %>
                                                                    <span class="label label-success label-mini">Activado</span>
                                                                    <% } else { %>
                                                                        <span class="label label-danger label-mini">Desactivado</span>
                                                                        <% } %>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="button_<%= users[i]._id %>">
                                                                <% if(users[i].activo){ %>
                                                                    <button onclick="desactivate('<%= users[i]._id %>');" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></button>
                                                                    <% } else { %>
                                                                        <button onclick="activate('<%= users[i]._id %>');" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                                                        <% }   %>
                                                                            <button id="modifymodal" data-params='{"_id" : "<%= users[i]._id %>",
                                                                        "nombre" : "<%= users[i].nombre %>",
                                                                        "apellido1" : "<%= users[i].apellido1 %>",
                                                                        "apellido2" : "<%= users[i].apellido2 %>",
                                                                        "login" : "<%= users[i].login %>",
                                                                        "password" : "<%= users[i].password %>"
                                                                    }' class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modifyUser"><i class="fa fa-pencil"></i></button>
                                                                            <button onclick="deluser('<%= users[i]._id %>');" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /content-panel -->
                                </div>
                                <!-- /col-md-12 -->
                            </div>
                            <!-- /row -->

                        </section>
                    </section>
                    <!-- /MAIN CONTENT -->
                    <% } %>
                        <!-- MODAL SECTION -->
                        <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                        <!-- Modal -->
                        <% include ./partials/modal_newuser %>
                            <% include ./partials/modal_modifyuser %>
                                <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                                <!-- /MODAL SECTION -->

                                <!--main content end-->
                                <!--footer start-->
                                <footer class="site-footer">
                                    <% include partials/footer %>

                                </footer>
                                <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <% include partials/footer_scripts %>

        <!--script for this page-->

        <script>
            //custom select box
            function desactivate(id) {
                // alert("DES " + id);
                $.post('/auth/WEB/users/desactivate/' + id, function(returnedData) {
                    //console.log(returnedData);
                    $("#tag_" + id).load(location.href + " #tag_" + id); // Add space between URL and selector.
                    $("#button_" + id).load(location.href + " #button_" + id); // Add space between URL and selector.

                });

            };

            function activate(id) {
                // alert("ACT " + id);
                $.post('/auth/WEB/users/activate/' + id, function(returnedData) {
                    //console.log(returnedData);
                    $("#tag_" + id).load(location.href + " #tag_" + id); // Add space between URL and selector.
                    $("#button_" + id).load(location.href + " #button_" + id); // Add space between URL and selector.

                });

            };

            function deluser(id) {
                // alert("ACT " + id);
                $.post('/auth/WEB/users/delete/' + id, function(returnedData) {
                    //console.log(returnedData);
                    $('#myTableRow_' + id).remove();

                });

            };

            $(document).on("click", "#modifymodal", function() {
                // var res = '{"id" :"' + $(this).data('data') + '"}'
                var res = JSON.stringify($(this).data('params'));
                // alert(res);
                var obj = JSON.parse(res);
                console.log(obj);
                //console.log(obj[0].key);
                //console.log(obj[1].key);
                $.each(obj, function(key, value) {
                    console.log(key, value);
                    $("input[name*='user[" + key + "]']").val(value);
                });
            });
        </script>

</body>

</html>