<div class="col-md-12" id="content_global" style="display: none">
    <div class="form-panel">

        <div id="naturalHazardsContent" class="row mt" style="display: none">
            <div class="col-md-4">
                <!-- col izda -->
                General Summary:
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Millions EC$</th>
                            <th>Number of Interventions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b> Total investment required</b>
                            </td>
                            <td>
                                <input class="form-control" id="Totalinvestmentrequired" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(Total_investment*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- Total_interventions %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> Investment per type of asset</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Pavements</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskPavements" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Bridges</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskBridges" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Culverts</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskCulverts" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Geotechnical assets</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskGeotechnicalassets" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Road Category</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Main Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputMainRoads" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Secondary Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputSecondaryRoads" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Feeder Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputFeederRoads" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Urban Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputUrbanRoads" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Parish</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Andrew</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintAndrew" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>

                        <tr>
                            <td>Saint David</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintDavid" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint George</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintGeorge" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint John</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintJohn" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Joseph</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintJoseph" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Luke</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintLuke" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Mark</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintMark" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Paul</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPaul" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Patrick</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPatrick" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Peter</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPeter" type="text" placeholder="EC$ 0.00" disabled="">
                            </td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <!-- col dcha -->
                Detailed Summary:
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> INVESTMENT REQUIRED per type of asset</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very Poor</th>
                                    <th>Poor</th>
                                    <th>Fair</th>
                                    <th>Good</th>
                                    <th>Excellent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td>
                                        <%- Math.round(Total_investment_risknat5*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(Total_investment_risknat4*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(Total_investment_risknat3*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(Total_investment_risknat2*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(Total_investment_risknat1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                    <td>EC$</td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Risk due to Physical Deterioration</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very Poor</th>
                                    <th>Poor</th>
                                    <th>Fair</th>
                                    <th>Good</th>
                                    <th>Excellent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td>60 km</td>
                                    <td>260 km</td>
                                    <td>320 km</td>
                                    <td>220 km</td>
                                    <td>40 km</td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td>10</td>
                                    <td>60</td>
                                    <td>80</td>
                                    <td>70</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Likelihood of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Unlikely</th>
                                    <th>Possible</th>
                                    <th>Probable</th>
                                    <th>Very Likely</th>
                                    <th>Certain</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td>60 km</td>
                                    <td>260 km</td>
                                    <td>320 km</td>
                                    <td>220 km</td>
                                    <td>40 km</td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td>10</td>
                                    <td>60</td>
                                    <td>80</td>
                                    <td>70</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Consequences of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Catastr.</th>
                                    <th>Serious</th>
                                    <th>Moderate</th>
                                    <th>Minor</th>
                                    <th>Negligib.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td>80 km</td>
                                    <td>200 km</td>
                                    <td>150 km</td>
                                    <td>280 km</td>
                                    <td>80 km</td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td>10</td>
                                    <td>60</td>
                                    <td>80</td>
                                    <td>70</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>



            </div>
        </div>


    </div>
</div>