<div id="naturalHazardsContent" class="col-md-12" id="content_global" style="display: none">
    <div class="form-panel">
        <h3> Natural Deterioration</h3>

        <div class="row mt">
            <div class="col-md-4">
                <!-- col izda -->
                General Summary:
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Millions EC$</th>
                            <th>Number of Interventions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b> Total investment required</b>
                            </td>
                            <td id="Total_investment">
                                <%- Math.round(retValues.Total_investment*100/1000000)/100 %>
                            </td>
                            <td id="Total_interventions">
                                <%- retValues.Total_interventions %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> Investment per type of asset</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Pavements</td>
                            <td id="Total_investment_pav">
                                <%- 
                                Math.round(retValues.Total_investment_pav*100/1000000)/100 
                                 %>
                            </td>
                            <td id="Total_roads_interventions">
                                <%- retValues.Total_roads_interventions %>
                            </td>

                        </tr>
                        <tr>
                            <td>Bridges</td>
                            <td id="Total_investment_bridges">
                                <%- 
                                Math.round((retValues.Total_investment_bridges)*100/1000000)/100 
                                 %>
                            </td>
                            <td id="Total_bridges_interventions">
                                <%- retValues.Total_bridges_interventions %>
                            </td>

                        </tr>
                        <tr>
                            <td>Culverts</td>
                            <td id="Total_investment_culverts">
                                <%- 
                                    Math.round((retValues.Total_investment_culverts)*100/1000000)/100 %>
                            </td>
                            <td id="Total_culverts_interventions">
                                <%- retValues.Total_culverts_interventions %>

                            </td>

                        </tr>
                        <tr>
                            <td>Geotechnical assets</td>
                            <td id="Total_investment_geot">
                                <%- 
                                                                    Math.round((retValues.Total_investment_geot)*100/1000000)/100 %>
                            </td>
                            <td id="Total_geot_interventions">
                                <%- retValues.Total_geot_interventions %>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Road Category</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Main Roads</td>
                            <td id="Total_investment_MainRoad">
                                <%- Math.round(retValues.Total_investment_MainRoad*100/1000000)/100 %>
                            </td>
                            <td id="Total_roads_interventions_MainRoad">
                                <%- retValues.Total_roads_interventions_MainRoad %>
                            </td>

                        </tr>
                        <tr>
                            <td>Secondary Roads</td>
                            <td id="Total_investment_Secondary">
                                <%- Math.round(retValues.Total_investment_Secondary*100/1000000)/100 %>
                            </td>
                            <td id="Total_roads_interventions_Secondary">
                                <%- retValues.Total_roads_interventions_Secondary %>
                            </td>

                        </tr>
                        <tr>
                            <td>Feeder Roads</td>
                            <td id="Total_investment_Feeder">
                                <%- Math.round(retValues.Total_investment_Feeder*100/1000000)/100 %>
                            </td>
                            <td id="Total_roads_interventions_Feeder">
                                <%- retValues.Total_roads_interventions_Feeder %>
                            </td>

                        </tr>
                        <tr>
                            <td>Urban Roads</td>
                            <td id="Total_investment_Urban">
                                <%- Math.round(retValues.Total_investment_Urban*100/1000000)/100 %>
                            </td>
                            <td id="Total_roads_interventions_Urban">
                                <%- retValues.Total_roads_interventions_Urban %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Parish</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Andrew</td>
                            <td id="Total_investment_Saint_Andrew_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Andrew_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Andrew_nat">
                                <%- retValues.Total_elements_Saint_Andrew_nat %>
                            </td>

                        </tr>

                        <tr>
                            <td>Saint David</td>
                            <td id="Total_investment_Saint_David_nat">
                                <%- Math.round(retValues.Total_investment_Saint_David_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_David_nat">
                                <%- retValues.Total_elements_Saint_David_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint George</td>
                            <td id="Total_investment_Saint_George_nat">
                                <%- Math.round(retValues.Total_investment_Saint_George_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_George_nat">
                                <%- retValues.Total_elements_Saint_George_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint John</td>
                            <td id="Total_investment_Saint_John_nat">
                                <%- Math.round(retValues.Total_investment_Saint_John_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_John_nat">
                                <%- retValues.Total_elements_Saint_John_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Joseph</td>
                            <td id="Total_investment_Saint_Joseph_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Joseph_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Joseph_nat">
                                <%- retValues.Total_elements_Saint_Joseph_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Luke</td>
                            <td id="Total_investment_Saint_Luke_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Luke_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Luke_nat">
                                <%- retValues.Total_elements_Saint_Luke_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Mark</td>
                            <td id="Total_investment_Saint_Mark_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Mark_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Mark_nat">
                                <%- retValues.Total_elements_Saint_Mark_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Paul</td>
                            <td id="Total_investment_Saint_Paul_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Paul_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Paul_nat">
                                <%- retValues.Total_elements_Saint_Paul_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Patrick</td>
                            <td id="Total_investment_Saint_Patrick_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Patrick_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Patrick_nat">
                                <%- retValues.Total_elements_Saint_Patrick_nat %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Peter</td>
                            <td id="Total_investment_Saint_Peter_nat">
                                <%- Math.round(retValues.Total_investment_Saint_Peter_nat*100/1000000)/100 %>
                            </td>
                            <td id="Total_elements_Saint_Peter_nat">
                                <%- retValues.Total_elements_Saint_Peter_nat %>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <!-- col dcha -->
                Detailed Summary:
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> INVESTMENT REQUIRED per type of asset (Millions EC$)</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very High</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                    <th>Very low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td id="Total_investment_risknat5">
                                        <%- Math.round(retValues.Total_investment_risknat5*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_risknat4">
                                        <%- Math.round(retValues.Total_investment_risknat4*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_risknat3">
                                        <%- Math.round(retValues.Total_investment_risknat3*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_risknat2">
                                        <%- Math.round(retValues.Total_investment_risknat2*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_risknat1">
                                        <%- Math.round(retValues.Total_investment_risknat1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td id="Total_investment_brisknat5">
                                        <%- Math.round(retValues.Total_investment_brisknat5*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_brisknat4">
                                        <%- Math.round(retValues.Total_investment_brisknat4*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_brisknat3">
                                        <%- Math.round(retValues.Total_investment_brisknat3*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_brisknat2">
                                        <%- Math.round(retValues.Total_investment_brisknat2*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_brisknat1">
                                        <%- Math.round(retValues.Total_investment_brisknat1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td id="Total_investment_crisknat5">
                                        <%- Math.round(retValues.Total_investment_crisknat5*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_crisknat4">
                                        <%- Math.round(retValues.Total_investment_crisknat4*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_crisknat3">
                                        <%- Math.round(retValues.Total_investment_crisknat3*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_crisknat2">
                                        <%- Math.round(retValues.Total_investment_crisknat2*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_crisknat1">
                                        <%- Math.round(retValues.Total_investment_crisknat1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td id="Total_investment_grisknat5">
                                        <%- Math.round(retValues.Total_investment_grisknat5*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_grisknat4">
                                        <%- Math.round(retValues.Total_investment_grisknat4*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_grisknat3">
                                        <%- Math.round(retValues.Total_investment_grisknat3*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_grisknat2">
                                        <%- Math.round(retValues.Total_investment_grisknat2*100/1000000)/100 %>
                                    </td>
                                    <td id="Total_investment_grisknat1">
                                        <%- Math.round(retValues.Total_investment_grisknat1*100/1000000)/100 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Risk due to Natural Hazards</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very High</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                    <th>Very low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td id="Total_km_risknat5">
                                        <%- Math.round(retValues.Total_km_risknat5*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_risknat4">
                                        <%- Math.round(retValues.Total_km_risknat4*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_risknat3">
                                        <%- Math.round(retValues.Total_km_risknat3*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_risknat2">
                                        <%- Math.round(retValues.Total_km_risknat2*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_risknat1">
                                        <%- Math.round(retValues.Total_km_risknat1*100/1000)/100 %> km
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td id="Total_num_brisknat5">
                                        <%- retValues.Total_num_brisknat5 %>
                                    </td>
                                    <td id="Total_num_brisknat4">
                                        <%- retValues.Total_num_brisknat4 %>
                                    </td>
                                    <td id="Total_num_brisknat3">
                                        <%- retValues.Total_num_brisknat3 %>
                                    </td>
                                    <td id="Total_num_brisknat2">
                                        <%- retValues.Total_num_brisknat2 %>
                                    </td>
                                    <td id="Total_num_brisknat1">
                                        <%- retValues.Total_num_brisknat1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td id="Total_num_crisknat5">
                                        <%- retValues.Total_num_crisknat5 %>
                                    </td>
                                    <td id="Total_num_crisknat4">
                                        <%- retValues.Total_num_crisknat4 %>
                                    </td>
                                    <td id="Total_num_crisknat3">
                                        <%- retValues.Total_num_crisknat3 %>
                                    </td>
                                    <td id="Total_num_crisknat2">
                                        <%- retValues.Total_num_crisknat2 %>
                                    </td>
                                    <td id="Total_num_crisknat1">
                                        <%- retValues.Total_num_crisknat1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td id="Total_num_grisknat5">
                                        <%- retValues.Total_num_grisknat5 %>
                                    </td>
                                    <td id="Total_num_grisknat4">
                                        <%- retValues.Total_num_grisknat4 %>
                                    </td>
                                    <td id="Total_num_grisknat3">
                                        <%- retValues.Total_num_grisknat3 %>
                                    </td>
                                    <td id="Total_num_grisknat2">
                                        <%- retValues.Total_num_grisknat2 %>
                                    </td>
                                    <td id="Total_num_grisknat1">
                                        <%- retValues.Total_num_grisknat1 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Likelihood of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Certain</th>
                                    <th>Very Likely</th>
                                    <th>Probable</th>
                                    <th>Possible</th>
                                    <th>Unlikely</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td id="Total_km_lofnat5">
                                        <%- Math.round(retValues.Total_km_lofnat5*100/1000)/100  %> km</td>
                                    <td id="Total_km_lofnat4">
                                        <%- Math.round(retValues.Total_km_lofnat4*100/1000)/100  %> km</td>
                                    <td id="Total_km_lofnat3">
                                        <%- Math.round(retValues.Total_km_lofnat3*100/1000)/100  %> km</td>
                                    <td id="Total_km_lofnat2">
                                        <%- Math.round(retValues.Total_km_lofnat2*100/1000)/100  %> km</td>
                                    <td id="Total_km_lofnat1">
                                        <%- Math.round(retValues.Total_km_lofnat1*100/1000)/100  %> km</td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td id="Total_bridges_lofnat5">
                                        <%- retValues.Total_bridges_lofnat5 %>
                                    </td>
                                    <td id="Total_bridges_lofnat4">
                                        <%- retValues.Total_bridges_lofnat4 %>
                                    </td>
                                    <td id="Total_bridges_lofnat3">
                                        <%- retValues.Total_bridges_lofnat3 %>
                                    </td>
                                    <td id="Total_bridges_lofnat2">
                                        <%- retValues.Total_bridges_lofnat2 %>
                                    </td>
                                    <td id="Total_bridges_lofnat1">
                                        <%- retValues.Total_bridges_lofnat1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td id="Total_culverts_lofnat5">
                                        <%- retValues.Total_culverts_lofnat5 %>
                                    </td>
                                    <td id="Total_culverts_lofnat4">
                                        <%- retValues.Total_culverts_lofnat4 %>
                                    </td>
                                    <td id="Total_culverts_lofnat3">
                                        <%- retValues.Total_culverts_lofnat3 %>
                                    </td>
                                    <td id="Total_culverts_lofnat2">
                                        <%- retValues.Total_culverts_lofnat2 %>
                                    </td>
                                    <td id="Total_culverts_lofnat1">
                                        <%- retValues.Total_culverts_lofnat1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td id="Total_geot_lofnat5">
                                        <%- retValues.Total_geot_lofnat5 %>
                                    </td>
                                    <td id="Total_geot_lofnat4">
                                        <%- retValues.Total_geot_lofnat4 %>
                                    </td>
                                    <td id="Total_geot_lofnat3">
                                        <%- retValues.Total_geot_lofnat3 %>
                                    </td>
                                    <td id="Total_geot_lofnat2">
                                        <%- retValues.Total_geot_lofnat2 %>
                                    </td>
                                    <td id="Total_geot_lofnat1">
                                        <%- retValues.Total_geot_lofnat1 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Consequences of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Catastr.</th>
                                    <th>Serious</th>
                                    <th>Moderate</th>
                                    <th>Minor</th>
                                    <th>Negligib.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td id="Total_km_crit5">
                                        <%- Math.round(retValues.Total_km_crit5*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_crit4">
                                        <%- Math.round(retValues.Total_km_crit4*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_crit3">
                                        <%- Math.round(retValues.Total_km_crit3*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_crit2">
                                        <%- Math.round(retValues.Total_km_crit2*100/1000)/100 %> km
                                    </td>
                                    <td id="Total_km_crit1">
                                        <%- Math.round(retValues.Total_km_crit1*100/1000)/100 %> km
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td id="Total_bridges_crit5">
                                        <%- retValues.Total_bridges_crit5 %>
                                    </td>
                                    <td id="Total_bridges_crit4">
                                        <%- retValues.Total_bridges_crit4 %>
                                    </td>
                                    <td id="Total_bridges_crit3">
                                        <%- retValues.Total_bridges_crit3 %>
                                    </td>
                                    <td id="Total_bridges_crit2">
                                        <%- retValues.Total_bridges_crit2 %>
                                    </td>
                                    <td id="Total_bridges_crit1">
                                        <%- retValues.Total_bridges_crit1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td id="Total_culverts_crit5">
                                        <%- retValues.Total_culverts_crit5 %>
                                    </td>
                                    <td id="Total_culverts_crit4">
                                        <%- retValues.Total_culverts_crit4 %>
                                    </td>
                                    <td id="Total_culverts_crit3">
                                        <%- retValues.Total_culverts_crit3 %>
                                    </td>
                                    <td id="Total_culverts_crit2">
                                        <%- retValues.Total_culverts_crit2 %>
                                    </td>
                                    <td id="Total_culverts_crit1">
                                        <%- retValues.Total_culverts_crit1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td id="Total_geot_crit5">
                                        <%- retValues.Total_geot_crit5 %>
                                    </td>
                                    <td id="Total_geot_crit4">
                                        <%- retValues.Total_geot_crit4 %>
                                    </td>
                                    <td id="Total_geot_crit3">
                                        <%- retValues.Total_geot_crit3 %>
                                    </td>
                                    <td id="Total_geot_crit2">
                                        <%- retValues.Total_geot_crit2 %>
                                    </td>
                                    <td id="Total_geot_crit1">
                                        <%- retValues.Total_geot_crit1 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>



            </div>
        </div>


    </div>
</div>