<div id="PhysicalDeteriorationContent" class="col-md-12" id="content_global" style="display: none">
    <div class="form-panel">
        <h3> Physical Deterioration</h3>
        <div class="row mt">

            <div class="col-md-4">
                <!-- col izda -->
                General Summary:
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Millions EC$</th>
                            <th>Number of Interventions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b> Total investment required</b>
                            </td>
                            <td>
                                <input class="form-control" id="Totalinvestmentrequired" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_phy*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_interventions_phy %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> Investment per type of asset</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Pavements</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskPavements" type="text" placeholder="EC$ 0.00" disabled="" value="<%- 
                                Math.round(retValues.Total_investment_pav_phy*100/1000000)/100 
                                 %>">
                            </td>
                            <td>
                                <%- retValues.Total_roads_interventions_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>Bridges</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskBridges" type="text" placeholder="EC$ 0.00" disabled="" value="<%- 
                                Math.round((retValues.Total_investment_bridges_phy)*100/1000000)/100 
                                 %>">
                            </td>
                            <td>
                                <%- retValues.Total_bridges_interventions_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>Culverts</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskCulverts" type="text" placeholder="EC$ 0.00" disabled="" value="<%- 
                                    Math.round((retValues.Total_investment_culverts)*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_culverts_interventions_phy %>

                            </td>

                        </tr>
                        <tr>
                            <td>Geotechnical assets</td>
                            <td>
                                <input class="form-control" id="disabledInputRiskGeotechnicalassets" type="text" placeholder="EC$ 0.00" disabled="" value="<%- 
                                                                    Math.round((retValues.Total_investment_geot_phy)*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_geot_interventions_phy %>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Road Category</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Main Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputMainRoads" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_MainRoad_phy*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_roads_interventions_MainRoad_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>Secondary Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputSecondaryRoads" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Secondary_phy*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_roads_interventions_Secondary_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>Feeder Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputFeederRoads" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Feeder_phy*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_roads_interventions_Feeder_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>Urban Roads</td>
                            <td>
                                <input class="form-control" id="disabledInputUrbanRoads" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Urban_phy*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_roads_interventions_Urban_phy %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <b> Investment per Parish</b>
                            </td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Saint Andrew</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintAndrew" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Andrew*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Andrew %>
                            </td>

                        </tr>

                        <tr>
                            <td>Saint David</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintDavid" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_David*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_David %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint George</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintGeorge" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_George*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_George %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint John</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintJohn" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_John*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_John %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Joseph</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintJoseph" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Joseph*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Joseph %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Luke</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintLuke" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Luke*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Luke %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Mark</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintMark" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Mark*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Mark %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Paul</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPaul" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Paul*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Paul %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Patrick</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPatrick" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Patrick*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Patrick %>
                            </td>

                        </tr>
                        <tr>
                            <td>Saint Peter</td>
                            <td>
                                <input class="form-control" id="disabledInputSaintPeter" type="text" placeholder="EC$ 0.00" disabled="" value="<%- Math.round(retValues.Total_investment_Saint_Peter*100/1000000)/100 %>">
                            </td>
                            <td>
                                <%- retValues.Total_elements_Saint_Peter %>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <!-- col dcha -->
                Detailed Summary:
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> INVESTMENT REQUIRED per type of asset (Millions EC$)</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very Poor</th>
                                    <th>Poor</th>
                                    <th>Fair</th>
                                    <th>Good</th>
                                    <th>Excellent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_riskphy5*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_riskphy4*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_riskphy3*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_riskphy2*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_riskphy1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_briskphy5*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_briskphy4*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_briskphy3*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_briskphy2*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_briskphy1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_criskphy5*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_criskphy4*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_criskphy3*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_criskphy2*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_criskphy1*100/1000000)/100 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_griskphy5*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_griskphy4*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_griskphy3*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_griskphy2*100/1000000)/100 %>
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_investment_griskphy1*100/1000000)/100 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Risk due to Physical Deterioration</h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Very Poor</th>
                                    <th>Poor</th>
                                    <th>Fair</th>
                                    <th>Good</th>
                                    <th>Excellent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_riskphy5*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_riskphy4*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_riskphy3*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_riskphy2*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_riskphy1*100/1000)/100 %> km
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_num_briskphy5 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_briskphy4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_briskphy3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_briskphy2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_briskphy1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_num_criskphy5 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_criskphy4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_criskphy3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_criskphy2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_criskphy1 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_num_griskphy5 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_griskphy4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_griskphy3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_griskphy2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_num_griskphy1 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Likelihood of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Unlikely</th>
                                    <th>Possible</th>
                                    <th>Probable</th>
                                    <th>Very Likely</th>
                                    <th>Certain</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Km of Road per Pavement Risk Score</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_lofphy1*100/1000)/100  %> km</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_lofphy2*100/1000)/100  %> km</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_lofphy3*100/1000)/100  %> km</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_lofphy4*100/1000)/100  %> km</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_lofphy5*100/1000)/100  %> km</td>
                                </tr>
                                <tr>
                                    <td>No of Bridges per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_bridges_lof1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_lof2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_lof3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_lof4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_lof5 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Culverts per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_culverts_lof1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_lof2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_lof3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_lof4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_lof5 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No of Geotechnical Assets per Risk Score</td>
                                    <td>
                                        <%- retValues.Total_geot_lof1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_lof2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_lof3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_lof4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_lof5 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content-panel">
                    <h4>
                        <i class="fa fa-angle-right"></i> Number of assets per Consequences of Failure </h4>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Catastr.</th>
                                    <th>Serious</th>
                                    <th>Moderate</th>
                                    <th>Minor</th>
                                    <th>Negligib.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Road Pavement Interventions</td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_crit1*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_crit2*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_crit3*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_crit4*100/1000)/100 %> km
                                    </td>
                                    <td>
                                        <%- Math.round(retValues.Total_km_crit5*100/1000)/100 %> km
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Bridges</td>
                                    <td>
                                        <%- retValues.Total_bridges_crit1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_crit2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_crit3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_crit4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_bridges_crit5 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Culverts</td>
                                    <td>
                                        <%- retValues.Total_culverts_crit1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_crit2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_crit3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_crit4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_culverts_crit5 %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Repair / Rehabilitation of Geotechnical A.</td>
                                    <td>
                                        <%- retValues.Total_geot_crit1 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_crit2 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_crit3 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_crit4 %>
                                    </td>
                                    <td>
                                        <%- retValues.Total_geot_crit5 %>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>



            </div>
        </div>


    </div>
</div>