<script>
    var selectGraphValues = [{
            name: '-- Select graph --'
        },
        {
            name: 'INITIAL RISK PROFILE OF THE ROAD NETWORK ‐ Road network risk profile per type of asset',
            type: 'bar',
            options: {
                title: {
                    display: true,
                    text: 'INITIAL RISK PROFILE OF THE ROAD NETWORK ‐ Road network risk profile per type of asset'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        },
        {
            name: 'INITIAL RISK PROFILE OF THE ROAD NETWORK ‐ Road network risk profile per parish',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per type of asset ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per type of asset and risk category ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per Parish ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per Parish and risk category ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per Parish and asset type ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment required per road category ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment in pavement interventions per pavement material ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment in bridge interventions per structural typology ',
            type: 'bar',
            stacked: true
        },
        {
            name: 'INVESTMENT REQUIRED‐ Investment in geotechnical interventions per geotechnical nature',
            type: 'bar',
            stacked: true
        },
        {
            name: 'RESULTING RISK PROFILE OF THE ROAD NETWORK ‐ Road network risk profile by type of asset and parish',
            type: 'bar',
            stacked: true
        }
    ];

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        dark_green: 'rgb(75, 192, 192)',
        green: 'rgb(75, 255, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };


    function getTypeChart(val) {
        var ret = "";
        $.each(selectGraphValues, function (key, value) {
            if (val === value.name) {
                ret = value.type;
            }
        });
        return ret;
    };

    function getOptionsChart(val) {
        var ret = {};
        $.each(selectGraphValues, function (key, value) {
            if (val === value.name) {
                ret = value.options;
            }
        });
        return ret;
    };

    function getChartData(vlabels, rangeValues, arrValues) {
        var ret = {};
        var vdataSet = [];

        for (var k of Object.keys(rangeValues)) {

            console.log(rangeValues[k]);
            var vdata = [];
            var elem = {};
            elem["label"] = rangeValues[k];
            switch (rangeValues[k]) {
                case 1:
                    elem["backgroundColor"] = window.chartColors.dark_green;
                    break;
                case 2:
                    elem["backgroundColor"] = window.chartColors.green;
                    break;
                case 3:
                    elem["backgroundColor"] = window.chartColors.yellow;
                    break;
                case 4:
                    elem["backgroundColor"] = window.chartColors.orange;
                    break;
                case 5:
                    elem["backgroundColor"] = window.chartColors.red;
                    break;

                default:
                    break;
            }
            for (var j of vlabels) {
                vdata.push(arrValues[rangeValues[k]][j]);

            }
            elem['data'] = vdata;
            vdataSet.push(elem);



        }

        ret = {
            labels: vlabels,
            datasets: vdataSet

        };


        return ret;
    }

    $(document).ready(function () {
        var graphIzda = true;

        $.each(selectGraphValues, function (key, value) {
            $('#selectGraph')
                .append($("<option></option>")
                    .attr("value", key)
                    .text(value.name));
        });

        $('#selectGraph').change(function () {
            var str = "";
            var value = 0;
            var type = "";
            $("select option:selected").each(function () {
                str = $(this).text();
                val = $(this).val();

            });
            alert(val + ' -- ' + str);
            if (graphIzda) {
                graphIzda = false;
                $('#graphIzda').append('<canvas id="Chart' + val +
                    '" width="400" height="400"></canvas>');
            } else {
                graphIzda = true;
                $('#graphDcha').append('<canvas id="Chart' + val +
                    '" width="400" height="400"></canvas>');
            }

            switch ($('input:radio[name="riskoptionsRadios"]:checked').val()) {
                case 'PhysicalDeterioration':
                    var arrValuesGraph = [];

                    var Graph_km_riskphy5 = <%- JSON.stringify(retValues.Graph_km_riskphy5) %>
                    var Graph_km_riskphy4 = <%- JSON.stringify(retValues.Graph_km_riskphy4) %>
                    var Graph_km_riskphy3 = <%- JSON.stringify(retValues.Graph_km_riskphy3) %>
                    var Graph_km_riskphy2 = <%- JSON.stringify(retValues.Graph_km_riskphy2) %>
                    var Graph_km_riskphy1 = <%- JSON.stringify(retValues.Graph_km_riskphy1) %>
                    var Total_Graph_km_riskphy = Graph_km_riskphy5 + Graph_km_riskphy4 +
                        Graph_km_riskphy3 + Graph_km_riskphy2 + Graph_km_riskphy1;
                    var Graph_num_briskphy1 = <%- JSON.stringify(retValues.Graph_num_briskphy1) %>
                    var Graph_num_briskphy2 = <%- JSON.stringify(retValues.Graph_num_briskphy2) %>
                    var Graph_num_briskphy3 = <%- JSON.stringify(retValues.Graph_num_briskphy3) %>
                    var Graph_num_briskphy4 = <%- JSON.stringify(retValues.Graph_num_briskphy4) %>
                    var Graph_num_briskphy5 = <%- JSON.stringify(retValues.Graph_num_briskphy5) %>
                    var Total_Graph_num_briskphy = Graph_num_briskphy1 +
                        Graph_num_briskphy2 +
                        Graph_num_briskphy3 +
                        Graph_num_briskphy4 +
                        Graph_num_briskphy5;
                    var Graph_num_criskphy1 = <%- JSON.stringify(retValues.Graph_num_criskphy1) %>
                    var Graph_num_criskphy2 = <%- JSON.stringify(retValues.Graph_num_criskphy2) %>
                    var Graph_num_criskphy3 = <%- JSON.stringify(retValues.Graph_num_criskphy3) %>
                    var Graph_num_criskphy4 = <%- JSON.stringify(retValues.Graph_num_criskphy4) %>
                    var Graph_num_criskphy5 = <%- JSON.stringify(retValues.Graph_num_criskphy5) %>
                    var Total_Graph_num_criskphy = Graph_num_criskphy1 +
                        Graph_num_criskphy2 +
                        Graph_num_criskphy3 +
                        Graph_num_criskphy4 +
                        Graph_num_criskphy5;
                    var Graph_num_griskphy1 = <%- JSON.stringify(retValues.Graph_num_griskphy1) %>
                    var Graph_num_griskphy2 = <%- JSON.stringify(retValues.Graph_num_griskphy2) %>
                    var Graph_num_griskphy3 = <%- JSON.stringify(retValues.Graph_num_griskphy3) %>
                    var Graph_num_griskphy4 = <%- JSON.stringify(retValues.Graph_num_griskphy4) %>
                    var Graph_num_griskphy5 = <%- JSON.stringify(retValues.Graph_num_griskphy5) %>
                    var Total_Graph_num_griskphy = Graph_num_griskphy1 +
                        Graph_num_griskphy2 +
                        Graph_num_griskphy3 +
                        Graph_num_griskphy4 +
                        Graph_num_griskphy5;
                    arrValuesGraph[1] = [];
                    arrValuesGraph[1]['Pavements'] = Math.round((Graph_km_riskphy1 /
                        Total_Graph_km_riskphy) * 100 * 100) / 100;
                    arrValuesGraph[1]['Bridges'] = Math.round((Graph_num_briskphy1 /
                        Total_Graph_num_briskphy) * 100 * 100) / 100;
                    arrValuesGraph[1]['Culverts'] = Math.round((Graph_num_criskphy1 /
                        Total_Graph_num_criskphy) * 100 * 100) / 100;
                    arrValuesGraph[1]['Geot'] = Math.round((Graph_num_griskphy1 /
                        Total_Graph_num_griskphy) * 100 * 100) / 100;
                    arrValuesGraph[2] = [];
                    arrValuesGraph[2]['Pavements'] = Math.round((Graph_km_riskphy2 /
                        Total_Graph_km_riskphy) * 100 * 100) / 100;
                    arrValuesGraph[2]['Bridges'] = Math.round((Graph_num_briskphy2 /
                        Total_Graph_num_briskphy) * 100 * 100) / 100;
                    arrValuesGraph[2]['Culverts'] = Math.round((Graph_num_criskphy2 /
                        Total_Graph_num_criskphy) * 100 * 100) / 100;
                    arrValuesGraph[2]['Geot'] = Math.round((Graph_num_griskphy2 /
                        Total_Graph_num_griskphy) * 100 * 100) / 100;
                    arrValuesGraph[3] = [];
                    arrValuesGraph[3]['Pavements'] = Math.round((Graph_km_riskphy3 /
                        Total_Graph_km_riskphy) * 100 * 100) / 100;
                    arrValuesGraph[3]['Bridges'] = Math.round((Graph_num_briskphy3 /
                        Total_Graph_num_briskphy) * 100 * 100) / 100;
                    arrValuesGraph[3]['Culverts'] = Math.round((Graph_num_criskphy3 /
                        Total_Graph_num_criskphy) * 100 * 100) / 100;
                    arrValuesGraph[3]['Geot'] = Math.round((Graph_num_griskphy3 /
                        Total_Graph_num_griskphy) * 100 * 100) / 100;
                    arrValuesGraph[4] = [];
                    arrValuesGraph[4]['Pavements'] = Math.round((Graph_km_riskphy4 /
                        Total_Graph_km_riskphy) * 100 * 100) / 100;
                    arrValuesGraph[4]['Bridges'] = Math.round((Graph_num_briskphy4 /
                        Total_Graph_num_briskphy) * 100 * 100) / 100;
                    arrValuesGraph[4]['Culverts'] = Math.round((Graph_num_criskphy4 /
                        Total_Graph_num_criskphy) * 100 * 100) / 100;
                    arrValuesGraph[4]['Geot'] = Math.round((Graph_num_griskphy4 /
                        Total_Graph_num_griskphy) * 100 * 100) / 100;
                    arrValuesGraph[5] = [];
                    arrValuesGraph[5]['Pavements'] = Math.round((Graph_km_riskphy5 /
                        Total_Graph_km_riskphy) * 100 * 100) / 100;
                    arrValuesGraph[5]['Bridges'] = Math.round((Graph_num_briskphy5 /
                        Total_Graph_num_briskphy) * 100 * 100) / 100;
                    arrValuesGraph[5]['Culverts'] = Math.round((Graph_num_criskphy5 /
                        Total_Graph_num_criskphy) * 100 * 100) / 100;
                    arrValuesGraph[5]['Geot'] = Math.round((Graph_num_griskphy5 /
                        Total_Graph_num_griskphy) * 100 * 100) / 100;


                    var barChartData = getChartData(['Pavements', 'Bridges', 'Culverts', 'Geot'], [1, 2,
                        3, 4, 5
                    ], arrValuesGraph);
                    break;
                case 'NaturalHazards':
                    break;

                default:
                    break;
            }

            var ctx = $("#Chart" + val);
            var graphSelected = [];
            graphSelected[val] = new Chart(ctx, {
                type: getTypeChart(str),
                data: barChartData,
                options: getOptionsChart(str)
            });
        });


        $('#graphButton').click(function (eve) {

            // alert('Graph');
            $('#naturalHazardsContent').hide();
            $('#PhysicalDeteriorationContent').hide();
            $('#graphContent').show();

        });
    });
</script>