<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */

            #map {
                height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */

            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #info-box {
                background-color: white;
                border: 1px solid black;
                bottom: 30px;
                height: 30px;
                padding: 5px;
                position: absolute;
                left: 30px;
            }
        </style>
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <% include partials/header %>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <% include partials/left_menu %>

        </aside>
        <!--sidebar end-->
        <!-- main content Permission denied -->
        <% if(!token.admin) {%>
            <% include partials/error_permissions %>
                <!-- End permission denied -->
                <%} else {%>
                    <!--main content start-->
                    <section id="main-content">
                        <section class="wrapper site-min-height">
                            <div class="row mt">
                                <div class="col-md-12">
                                    <h3>
                                        <i class="fa fa-angle-right"></i>
                                        <%- trans('MENU_PANEL_COST_LIBRARY') %>
                                    </h3>
                                </div>
                            </div>
                            <!-- page start-->
                            <div class="row mt" id="">
                                <div class="col-md-12 mt">
                                    <div class="content-panel">
                                        <h4>
                                            <i class="fa fa-angle-right"></i>
                                            <%- trans('COST_LIBRARY_TITLE') %> --
                                                <%- costlibrary.name %> (
                                                    <%- moment(costlibrary.updated_at).format('YYYY-MM-DD HH:mm:ss') %>)
                                        </h4>
                                        <button type="button" class="btn btn-round btn-primary" data-toggle="modal" data-target="#modalBudget">
                                            <i class="fa fa-refresh"></i>
                                            Update Budgets</button>
                                        <hr>
                                        <table class="table table-hover">


                                            <thead>
                                                <tr>
                                                    <th>
                                                        <%- trans('CODE') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('COST_LIBRARY_HEAD_ASSET') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('COST_LIBRARY_HEAD_UNIT_PRICE') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('VERY_POOR') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('POOR') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('FAIR') %>
                                                    </th>
                                                    <th>
                                                        <%- trans('GOOD') %>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="costLibraryTable">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!-- page end-->
                        </section>
                    </section>
                    <!-- /MAIN CONTENT -->
                    <% } %>
                        <!--main content end-->

                        <!-- MODAL SECTION -->
                        <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                        <!-- Modal -->
                        <% include ./modals/modal_budget %>
                            <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                            <!-- /MODAL SECTION -->


                            <!--footer start-->
                            <footer class="site-footer">
                                <% include partials/footer %>
                            </footer>
                            <!--footer end-->
    </section>

    <% include partials/footer_scripts %>
        <!--script for this page-->
        <%- include('partials/costs_library_scripts'); %>



</body>

</html>